@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&subset=cyrillic');


@font-face {
	font-family: 'TTNorms-Bold';
	src: url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TTNorms-Bold.otf')  format('opentype'),
		url('../fonts/TTNorms-Bold.woff') format('woff'),
		url('../fonts/TTNorms-Bold.ttf')  format('truetype'),
		url('../fonts/TTNorms-Bold.svg#TTNorms-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TTNorms-Medium';
	src: url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TTNorms-Medium.otf')  format('opentype'),
		url('../fonts/TTNorms-Medium.woff') format('woff'),
		url('../fonts/TTNorms-Medium.ttf')  format('truetype'),
		url('../fonts/TTNorms-Medium.svg#TTNorms-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TTNorms-Regular';
	src: url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TTNorms-Regular.otf')  format('opentype'),
	url('../fonts/TTNorms-Regular.woff') format('woff'),
	url('../fonts/TTNorms-Regular.ttf')  format('truetype'),
	url('../fonts/TTNorms-Regular.svg#TTNorms-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'TTNorms-Light';
	src: url('../fonts/ttnorms-light-webfont.eot');
	src: url('../fonts/ttnorms-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ttnorms-light-webfont.woff2') format('woff2'),
	url('../fonts/ttnorms-light-webfont.woff') format('woff'),
	url('../fonts/ttnorms-light-webfont.svg#tt_normslight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?4r51rj');
	src:  url('../fonts/icomoon.eot?4r51rj#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?4r51rj') format('truetype'),
	url('../fonts/icomoon.woff?4r51rj') format('woff'),
	url('../fonts/icomoon.svg?4r51rj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}




//
//sass/
////
//– base/
//   |– _forms.scss        # Forms rules
//   |– _typography.scss   # Typography rules
//   |– _buttons.scss      # Buttons
//   |– _forms.scss        # Forms
//   …                     # Etc.
//
//– modules/
//   |– _carousel.scss     # Carousel
//   |– _cover.scss        # Cover
//   |– _dropdown.scss     # Dropdown
//   …                     # Etc.
//
//– partials/
//   |– _navigation.scss   # Navigation
//   |– _grid.scss         # Grid system
//   |– _header.scss       # Header
//   |– _footer.scss       # Footer
//   |– _sidebar.scss      # Sidebar
//   …                     # Etc.
//
//– pages/
//   |– _home.scss         # Home specific styles
//   |– _contact.scss      # Contact specific styles
//   …                     # Etc.
//
//– themes/
//   |– _theme.scss        # Default theme
//   |– _admin.scss        # Admin theme
//   …                     # Etc.
//
//– helpers/
//   |– _variables.scss    # Sass Variables
//   |– _functions.scss    # Sass Functions
//   |– _mixins.scss       # Sass Mixins
//   |– _placeholders.scss # Sass Placeholders
//
//– vendors/
//   |– _reset.scss         # Reset
//   |– _debug.scss         # Debug mode
//   …                      # Etc.
//
//– main.scss              # Main Sass file
//


//*
// Which objects and abstractions would you like to use?
//base
$use-btn-color:                true!default;
$use-btn-size:                 true!default;
$use-btn-group:                false!default;
$use-input-group:              false!default;
$use-table:                    true!default;
$use-color-table:              false!default;
$use-column-table:             false!default;
$use-color-text:               true!default;

//modules
$use-accordion:                false!default;
$use-breadcrumb:               true!default;
$use-pagination:               false!default;
$use-pager:                    false!default;
$use-space:                    false!default;
$use-split:                    false!default;
$use-rules:                    false!default;
$use-this-or-this:             false!default;
$use-media:                    false!default;
// grids
$use-adaptive:                 true!default;
$use-flexbox:                  true!default;
$use-bem:                      true!default;
// plugins
$use-animations:               false!default;
$debug-mode:                   false!default;



// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";

// Base
@import "base/*.scss";

// Modules
@import "modules/*.scss";

// Partials
@import "partials/*.scss";

// Pages
@import "pages/*.scss";
