nav.mobilenav
	.mobilenav-top
		.hidden__sm.hidden__xs
			a.close-nav--js(href='#'): span.icon-close
			a(href='/'): img(src='images/logo-wh.png', alt='')
		.mobilenav-icons
			a(href='/'): img(src='images/logo-mw.png', alt='')
			a.close-nav--js(href='#'): span.icon-close
			.line
			a.page-header__email(href='mailto:sale@oxrapro.ru')
				i.icon-email
			.line
			a.page-header__call(href='tel:88003339887')
				i.icon-call
			.line
			a.popup-modal.page-header__login(href='#auth')
				i.icon-profile_round
	.mobilenav-center
		+menu(footermenu)
	.mobilenav-bottom
		a.btn.btn--blue.btn--full.popup-modal(href="#callme")
			span.icon-call
			span Заказать звонок
		a.btn.btn--primary.btn--full.popup-modal(href="#auth")
			span.icon-profile
			span Войти
