#callme.mfp-hide.white-popup-block
	form(method='POST', action='')
		h3 Заказать обратный звонок
		.form__group: +fieldInput('text', 'name', 'name1', '', 'Ваше имя', 'Введите имя', true)
		.form__group: +fieldInput('text', 'phone', 'phone1', '', 'Ваш телефон', 'Введите телефон', true)
		.form__group: +fieldInput('email', 'email', 'email1', '', 'Ваш email', false, true)
		.form__group: +fieldTextarea('message', 'message', '', 'Введите ваш вопрос', 2, false, false)
		.form__group
			.file_upload
				span.icon-url
				.innerTxt Прикрепите файл
				input(type="file")
		.form__group
			.checkbox
				input(type="checkbox", id='agr1', checked)
				label(for='agr1')
				.label Даю согласие на #[a(href='#') обработку персональных данных]
		a.btn.btn--blue.popup-modal(href='#thanks') Отправить
		// изменить ссылку на button c type='submit' - сейчас это пример для вызова попапа #thanks


#auth.mfp-hide.white-popup-block
	form(method='POST', action='')
		h3 Авторизация
		.form__group: +fieldInput('text', 'name', 'name2', '', 'Ваш логин', false, true)
		.form__group: +fieldInput('password', 'password', 'password', '', 'Ваш пароль', false, true)
		.form__group: +fieldCheckbox('Я ознакомлен с документами учебного центра', 'ready', true)
		.flexBtn
			button.btn.btn--blue(type='submit') Отправить
			a.btn.btn--primary.popup-modal(href='#pass') Забыл пароль

#pass.mfp-hide.white-popup-block
	form(method='POST', action='')
		h3 Запрос пароля
		p Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по E-Mail.
		.form__group: +fieldInput('text', 'name', 'name', '', 'Ваш логин', 'Логин или EMail не найдены', true)
		button.btn.btn--blue(type='submit') Отправить


#thanks.mfp-hide.white-popup-block
	h3 Спасибо!
	p Мы свяжемся с вами через несколько минут!
	a.btn.btn--blue.popup-modal-dismiss(href='#') Закрыть

