.projects-catalog
	.title
		h2 Проекты
		.hidden__sm.hidden__xs
			a.btn.btn--outlined(href='#') Все кейсы
	.is-row
		- for (var x = 3; x < 5; x++)
			.is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12(data-aos="fade-down", data-aos-delay=x+"00")
				.projects-list_item
					.projects-list_img
						img(src='images/firm-1.jpg', alt='')
					.projects-list_title
						h5: a(href='#') Кейс компании #[br] «Рэдмонд»
					.projects-list_desc Между «Нестле» и «Англо-швейцарской компанией» разворачивается ожесточенная конкуренция, которая особенно обостряется.
					.projects-list_btn
						.button
							a.btn.btn--primary(href='#') Смотреть
							.btn--shadow.btn--black
			.is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12.hidden__xs.hidden__sm.hidden__md(data-aos="fade-down", data-aos-delay=x+"00")
				.projects-list_item
					.projects-list_img
						img(src='images/firm-2.jpg', alt='')
					.projects-list_title
						h5: a(href='#') Кейс компании #[br] «Хеликс»
					.projects-list_desc Между «Нестле» и «Англо-швейцарской компанией» разворачивается ожесточенная конкуренция.
					.projects-list_btn
						.button
							a.btn.btn--primary(href='#') Смотреть
							.btn--shadow.btn--black
	.visible__xs.visible__sm
		a.btn.btn--outlined.btn--full(href='#') Все кейсы
