section.reviews.h-container
	.container.relative
		h2 Отзывы #[span 8 из 20]
		.swiper.popup-gallery
			.swiper-wrapper
				- for (var x = 1; x < 4; x++)
					a.swiper-slide(href='images/review-1.png', data-aos="fade-down", data-aos-delay="300")
						img(src='images/review-1.png', alt='')
						.reviews-name Иванов И. И.
						.reviews-company Газпром
					a.swiper-slide(href='images/review-2.png', data-aos="fade-down", data-aos-delay="500")
						img(src='images/review-2.png', alt='')
						.reviews-name Петров А.И.
						.reviews-company Редмонд
					a.swiper-slide(href='images/review-3.png', data-aos="fade-down", data-aos-delay="700")
						img(src='images/review-3.png', alt='')
						.reviews-name Константинопольский К.К.
						.reviews-company Кассир.ру
			.swiper-settings
				a.btn.btn--default(href='#') Смотреть все
				.swiper-btn.hidden__xs.hidden__sm
					.swiper-btn-prev-r.swiper-btn-prev: span.icon-angle-left
					.swiper-btn-next-r.swiper-btn-next: span.icon-angle-right
