.services-catalog
	.title
		h2 Сопутствующие услуги
		.hidden__sm.hidden__xs
			a.btn.btn--outlined(href='#') Все услуги
	.is-row
		- for (var x = 1; x < 3; x++)
			.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12(data-aos="fade-down", data-aos-delay="300")
				a.prices-item(href='#')
					h4 Разработка паспортов опасных отходов
					.prices Индивидуально
			.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12(data-aos="fade-down", data-aos-delay="500")
				a.prices-item(href='#')
					h4 Разработка документов по охране труда
					.prices От 4 500 ₽/мес.
			.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12(data-aos="fade-down", data-aos-delay="700")
				a.prices-item(href='#')
					h4 Аудит охраны труда
					.prices 11 500 ₽
			.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12(data-aos="fade-down", data-aos-delay="900")
				a.prices-item(href='#')
					h4 Разработка документов по охране труда
					.prices От 4 500 ₽/мес.
	.visible__xs.visible__sm
		a.btn.btn--outlined.btn--full(href='#') Все кейсы
