//
// Base -> Scaffolding
// --------------------------------------------------

//
// Make all elements box-sizing
//
* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//
// Delete focus border
//
a:active, a:focus {
	outline: none;
}

input, textarea {
	outline: none;
}

input:active, textarea:active {
	outline: none;
}

button:active, button:focus {
	outline: none;
}

:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

//
// Clearfix
//
.clearfix {
	@include clearfix();
}

//
// HTML
//
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//
// Basic typography styles
//
body {
	background-color: $base-background;
	color: $base-color;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
	font-family: $base-font-family;
	line-height: $base-line-height;
}

//
// Link
//
a {
	color: $link-color;
	@include transition;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		color: $link-hover-color;
	}
}

.linkIcon {
	color: $link-color;
	text-decoration: none;
	font-family: TTNorms-Bold;

	span {
		color: $link-color;
		margin-right: 17px;
		display: inline-block;
		@include transition();
	}

	&:hover {
		span {
			color: $base-color-light;
		}

		[class^="icon-"], [class*=" icon-"] {
			transform: rotate(110deg);
		}
	}
}

//
// Images
//
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}


//
// Display none
//
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.bg {
	&--primary {
		background-color: $color-type-1a;
	}
	&--danger {
		background-color: $color-type-2a;
	}
	&--warning {
		background-color: $color-type-3b;
	}
	&--success {
		background-color: $color-type-4a;
	}
}
