//
// Base -> Buttons
// --------------------------------------------------

.button {
	display: inline-block;
	position: relative;
	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 11px;
		margin-right: 11px;
		padding: 0 !important;
	}
	.btn {
		left: 0;
		top: 0;
		@include transition(left 0.5s, top 0.5s);
		@media screen and (min-width: $screen-md-min) {
			&:active {
				left: 11px;
				top: 11px;
			}
		}
	}
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: $btn-font-weight;
	touch-action: manipulation;
	cursor: pointer;
	text-decoration: none;
	background-image: none;
	border: 2px solid transparent;
	font-family: 'TTNorms-Bold';
	@include button-size($padding-base-vertical, 30px, $base-font-size, $base-line-height, $btn-border-radius-base);
	height: 64px;
	position: relative;
	z-index: 2;
	@media screen and (min-width: $screen-md-min) {
		@include button-size($padding-base-vertical, 35px, $base-font-size, $base-line-height, $btn-border-radius-base);
	}
	@media screen and (min-width: $screen-lg-min) {
		@include button-size($padding-base-vertical, 44px, $base-font-size, $base-line-height, $btn-border-radius-base);
	}

	span + span {
		margin-left: 18px;
	}


	transform: perspective(1px) translateZ(0);
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		transform: scale(0);
		transition-property: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}

	&:hover,
	&:focus,
	&.focus {
		color: $btn-default-color;
		text-decoration: none;
	}

	&--full {
		display: flex;
		width: 100%;

		& + & {
			margin-top: 5px;
		}
	}

	&--shadow {
		@media screen and (min-width: $screen-md-min) {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 11px;
			top: 11px;
			z-index: 1;
		}
	}
	&--black {
		background-color: rgba($base-color-main, 0.12);
	}
	&--white {
		background-color: rgba($white-lighten, 0.08);
	}

	// Button with icon
	&__icon {
		position: relative;
	}


	&--default {
		@include button-variant-tr($btn-default-color, $btn-default-bg, $btn-default-border);
	}


	// Color buttons
	@if $use-btn-color == true {
		&--primary {
			@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		}
		&--success {
			@include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
		}
		&--orange {
			@include button-variant($btn-orange-color, $btn-orange-bg, $btn-orange-border);
		}
		&--info {
			@include button-variant-pr2($btn-info-color, $btn-info-bg, $btn-info-border);
		}
		&--dark {
			@include button-variant-tr($btn-dark-color, $btn-dark-bg, $btn-dark-border);
		}
		&--blue {
			@include button-variant-pr($btn-blue-color, $btn-blue-bg, $btn-blue-border);
		}
		&--warning {
			@include button-variant-pr($btn-warning-color, $btn-warning-bg, $btn-warning-border);
		}
		&--danger {
			@include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
		}
		&--outlined {
			@include button-variant-tr($btn-outlined-color, $btn-outlined-bg, $btn-outlined-border);
		}
		&--light {
			@include button-variant-tr($white-lighten, transparent, rgba($white-lighten, 0.15));
		}
	}

	// Button Sizes
	@if $use-btn-size == true {
		&__lg {
			@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-btn, $btn-border-radius-large);
			height: 55px;
		}
		&__sm {
			@include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-btn, $btn-border-radius-small);
			height: 40px;
		}
		&__xs {
			@include button-size($padding-tiny-vertical, $padding-tiny-horizontal, $font-size-tiny, $line-height-btn, $btn-border-radius-small);
			height: 35px;
		}
	}
}
