//
// Modules -> Forms
// --------------------------------------------------


fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: $line-height-computed;
	font-size: ($base-font-size * 1.5);
	line-height: inherit;
	color: $legend-color;
	border: 0;
}

label {
	display: block;
	max-width: 100%;
	margin: 5px 0;
	color: #8493a8;
}


input[type="search"] {
	@include box-sizing(border-box);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9
; // IE8-9
	line-height: normal;
}

input[type="file"] {
	display: block;
}

input[type="range"] {
	display: block;
	width: 100%;
}

select[multiple],
select[size] {
	height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	@include tab-focus;
}


// Common form controls
.control {
	display: block;
	width: 100%;
	height: $input-height-base;
	padding: $padding-base-vertical 0;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $input-color;
	background-color: transparent;
	background-image: none;
	border: none;
	border-bottom: 1px solid $input-border;
	border-radius: 0;
	font-family: 'TTNorms-Regular';
	@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

	&:hover {
		border-color: $base-color-light;
	}

	@include form-control-focus;

	@include placeholder;

	&[name='name'] {
		padding-left: 40px;
		background: url('../images/profile.svg') no-repeat center left;
	}
	&[name='phone'] {
		padding-left: 40px;
		background: url('../images/phone.svg') no-repeat center left;
	}
	&[name='email'] {
		padding-left: 40px;
		background: url('../images/email.svg') no-repeat center left;
	}
	&[name='password'] {
		padding-left: 40px;
		background: url('../images/key.svg') no-repeat center left;
	}
	&.error {
		&[name='name'] {
			padding-left: 40px;
			background: url('../images/profile_e.svg') no-repeat center left;
		}
		&[name='phone'] {
			padding-left: 40px;
			background: url('../images/phone_e.svg') no-repeat center left;
		}
		&[name='email'] {
			padding-left: 40px;
			background: url('../images/email_e.svg') no-repeat center left;
		}
		&[name='password'] {
			padding-left: 40px;
			background: url('../images/key_e.svg') no-repeat center left;
		}
	}
}

span.error {
	display: block;
	margin-top: 20px;
	font-family: 'TTNorms-Bold';
	font-weight: 700;
}

// Reset height for `textarea`s
textarea.control {
	height: auto;
	resize: none;
}

select.control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 30px;
	background: url("../images/icons/arrow-down.png") no-repeat center right 10px, $input-bg;

	&:focus {
		background: url("../images/icons/arrow-up.png") no-repeat center right 10px, $input-bg;
	}
}

// Search inputs in iOS
input[type="search"] {
	-webkit-appearance: none;
}


.form__group {
	margin-bottom: 40px;
}


// Checkboxes and radios
.radio,
.checkbox {
	position: relative;
	display: flex;

	label {
		padding-left: 40px;
		margin: 0;
		cursor: pointer;
		color: $white-lighten;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 23px;
			height: 23px;
			border: 1px solid $white-lighten;
			background-color: transparent;
		}
	}
	.label {
	}
	&.error {
		label:after {
			border-color: #f73232;
		}
	}
	a {
		color: $white-lighten;
		&:hover {
			color: $base-color-main;
		}
	}
}

.checkbox {
	input[type="checkbox"] {
		display: none;
	}
}

.radio {
	input[type="radio"] {
		display: none;
	}
}

.checkbox label {
	&:after {
		@include border-radius(0);
	}
}

.radio label {
	&:after {
		@include border-radius(50%);
	}
}

.checkbox input[type="checkbox"]:checked + label:after {
	background: url('../images/done_mini.svg') center center no-repeat, $white-lighten;
}

.radio input[type="radio"]:checked + label:after {
	background: url('../images/icons/icon-radio.png') center center no-repeat, $input-bg;
}

.file_upload {
	color: #81bcff;
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	input[type=file] {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
	.icon-url {
		margin-right: 30px;
		width: 62px;
		height: 62px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: #409aff;
		color: $white-lighten;
	}
	&.active {
		.icon-url {
			background-color: $white-lighten;
			color: $base-color-main;
		}
	}
}
