//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
	color: $white-lighten;
	a:not(.btn) {
		color: $white-lighten;
		&:hover {
			color: $base-color-main;
		}
	}
	ul {
		margin-bottom: 0;
		@media screen and (min-width: $screen-lg-min) {
			white-space: nowrap;
		}
	}
	&-top {
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #303030;
		@media screen and (min-width: $screen-lg-min) {
			padding-top: 35px;
			padding-bottom: 55px;
		}
		@media screen and (max-width: $screen-xs-max) {
			.visible__xs {
				display: block !important;
			}
		}
		@media screen and (max-width: $screen-sm-max) {
			.visible__sm {
				display: block !important;
			}
		}
	}
	&-bottom {
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: #292929;
		font-size: 16px;
		@media screen and (min-width: $screen-md-min) {
			padding-top: 55px;
			padding-bottom: 80px;
		}
		@media screen and (min-width: $screen-lg-min) {
			font-size: inherit;
		}
		.is-row:first-child {
			padding-bottom: 20px;
			@media screen and (min-width: $screen-md-min) {
				padding-bottom: 45px;
			}
		}
		.is-row + .is-row {
			border-top: 1px solid rgba(#c6c6c6, 0.09);
			@media screen and (min-width: $screen-md-min) {
				padding-top: 50px;
			}
		}
		.app {
			@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				display: flex;
				justify-content: space-between;
			}
			@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				width: 15%;
			}
			img {
				width: 100%;
				margin-top: 20px;
				@media screen and (min-width: $screen-sm-min) {
					width: 95%;
				}
				@media screen and (min-width: $screen-md-min) {
					width: 135px;
					margin-top: 0;
				}
				@media screen and (min-width: $screen-xxl-min) {
					width: 160px;
				}
			}
			a + a {
				@media screen and (min-width: $screen-lg-min) {
					margin-left: 20px;
				}
				@media screen and (min-width: $screen-xxl-min) {
					margin-left: 60px;
				}
			}
		}
		.copy {
			@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
				width: 30%;
			}
		}
	}
	&__copy {
		color: #626262;
		margin-top: 20px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 5px;
		}
	}
	&__link {
		margin-top: 20px;
		@media screen and (min-width: $screen-md-min) {
			text-align: right;
			margin-top: 0;
		}
		span, img, a {
			display: inline-block;
			vertical-align: sub;
			@media screen and (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
				display: block;
			}
		}
		img {
			@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				width: 200px;
			}
		}
		a {
			color: $base-color-main !important;
			@media screen and (min-width: $screen-lg-min) {

				margin-left: 15px;
			}
			&:hover {
				color: $white-lighten !important;
			}
		}
	}
	&__mail {
		> * {
			vertical-align: middle;
		}
		span + a {
			margin-left: 15px;
		}
	}
	.main-nav {
		font-size: 20px;
		font-family: TTNorms-Medium;
		@media screen and (min-width: $screen-md-min) {
			display: flex;
			@include justify-content__xs(space-between);
			@include align-items__xs(center);
		}
		&__link {
			padding: 10px 0;
			@media screen and (min-width: $screen-md-min) {
				padding: 0;
			}
			&:hover {
				color: $base-color-main;
			}
		}
	}
	.button {
		vertical-align: top;
	}
	@media screen and (min-width: $screen-xl-min) {
		.button + .button {
			margin-left: 30px;
		}
	}


	@media screen and (max-width: $screen-sm-max) {
		.social {
			margin-top: 30px;
			margin-bottom: 10px;
			display: flex;
			justify-content: space-between;
			width: 100%;
			a {
				width: 83px;
				height: 83px;
				font-size: 35px;
			}
		}
		.button {
			display: block;
		}
		.btn {
			display: flex;
			width: 100%;
			margin-top: 20px;
		}
		.main-nav {
			display: none;
			&.active {
				display: block;
			}
		}
	}
}

.social {
	a {
		width: 50px;
		height: 50px;
		border: 2px solid #ffffff;
		border-radius: 50px;
		display: flex;
		@include justify-content__xs(center);
		@include align-items__xs(center);
		font-size: 25px;
	}
}
