//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
	position: relative;
	&__logo {
		display: none;
		@media screen and (min-width: $screen-md-min) {
			display: block;
		}
		a {
			display: block;
			width: 132px;
			height: 36px;
			background: url("../images/logo-b.png") no-repeat center / cover;
		}
		&-m {
			display: none;
			@media screen and (max-width: $screen-sm-max) {
				display: block;
			}
			a {
				width: 20px;
				height: 23px;
				display: block;
				background: url("../images/logo-m.svg") no-repeat center / auto 100%;
			}
		}
	}
	&__menu {
		a {
			display: block;
			width: 22px;
			height: 14px;
			background: url("../images/menu-b.svg") no-repeat center / cover;
		}
	}
	&.fixed {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 20;
		.page-header__logo {
			a {
				background: url("../images/logo.png") no-repeat center / cover;
			}
			&-m {
				a {
					background: url("../images/logo-m.svg") no-repeat center / auto 100%;
				}
			}
		}
		.page-header__menu {
			a {
				background: url("../images/menu.svg") no-repeat center / cover;
			}
		}
		span, i, a:not(.btn) {
			color: $white-lighten;
			&:hover {
				color: $base-color-main;
			}
		}
		.line {
			background-color: rgba($white-lighten, 0.3);
		}
		.page-header__login,
		.page-header__mail,
		nav.nav {
			&:before,
			&:after {
				background-color: rgba($white-lighten, 0.16);
			}
		}
		.main-nav__link {
			color: $black-darken;
			@media screen and (min-width: $screen-md-min) {
				color: $white-lighten;
			}
		}
		a:hover {
			span, i {
				color: $base-color-main;
			}
		}
	}
	ul {
		margin-bottom: 0;
	}

	&-inner {
		padding: 10px 0;
		position: relative;
		display: flex;
		@include justify-content__xs(space-between);
		@include align-items__xs(center);
		@media screen and (min-width: $screen-md-min) {
			padding: 30px 0;
		}
	}
	span, i, a {
		color: $black;
		text-decoration: none;
		vertical-align: middle;
	}
	i + span {
		margin-left: 15px;
	}
	&__login,
	&__call {
		span {
			display: none;
			@media screen and (min-width: $screen-md-min) {
				display: inline-block;
			}
		}
	}
	.line {
		display: block;
		width: 1px;
		height: 17px;
		background-color: rgba($black-darken, 0.26);
		@media screen and (min-width: $screen-lg-min) {
			display: none;
		}
	}
	@media screen and (min-width: $screen-lg-min) {
		&__menu {
			position: absolute;
			left: -30px;
		}
	}
	@media screen and (min-width: 1000px) {
		&__menu {
			left: -36px;
		}
	}
	@media screen and (min-width: $screen-xl-min) {
		&__menu {
			position: static;
		}
	}
	@media screen and (min-width: 1450px) {
		&__menu {
			position: absolute;
			left: -60px;
		}
	}
	@media screen and (min-width: 1025px) {
		&__login,
		&__mail,
		nav.nav {
			position: relative;

			&:before,
			&:after {
				content: '';
				width: 1px;
				height: 17px;
				background-color: rgba($black-darken, 0.16);
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
			}

			&:before {
				left: -10%;
			}

			&:after {
				right: -10%;
			}
		}
		&__login {
			&:before {
				left: -40%;
			}
			&:after {
				display: none;
			}
		}
		&__mail {
			&:before {
				left: -25%;
			}

			&:after {
				right: -25%;
			}
		}
	}
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
