//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 10px;
	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 60px;
	}
	> * {
		margin: 0;
	}
}

.h-container {
	min-height: 70vh;
    @media screen and (min-width: $screen-xl-min) {
        height: 100vh;
		min-height: 950px;
    }
}

.txt-overflow {
	overflow: hidden;
	max-height: 200px;
	transition: max-height 0.5s;
	&.active {
		max-height: 1000px;
	}
	@media screen and (min-width: $screen-md-min) {
		max-height: inherit;
	}
}

.link-overflow {
	margin-bottom: 40px;
	a {
		font-family: 'TTNorms-Bold';
	}
	@media screen and (min-width: $screen-md-min) {
		display: none;
		margin: 0;
	}
}


.tag {
	display: inline-block;
	font-size: 13px;
	padding: 5px 10px;
	color: $white-lighten;
	margin-bottom: 20px;
	@media screen and (min-width: $screen-lg-min) {
		margin-bottom: 50px;
	}
	&--primary {
		background-color: $base-color-main;
	}
	&--warning {
		background-color: $color-type-3b;
	}
}

.button-nav {
	display: flex;
	@media screen and (max-width: $screen-sm-max) {
		flex-wrap: wrap;
	}
	li {
		@extend .btn;
		color: rgba($base-color-main, 0.7);
		border-color: rgba($base-color-main, 0.4);
		background-color: $white-lighten;
		margin-right: 15px;
		transition: all 0.5s;
		@media screen and (max-width: $screen-sm-max) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}
		@media screen and (max-width: $screen-lg-max) {
			padding: 9px 24px;
		}
		&:hover,
		&.active {
			color: $white-lighten;
			background-color: $base-color-main;
		}
	}
}
