.aside-nav {
	font-size: 20px;
	font-family: "TTNorms-Regular";
	font-weight: 400;
	display: flex;
	margin-bottom: 20px;
	overflow: auto;
	padding: 0;
	position: relative;
	&:after {
		content: '';
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #dfeeff;
		@media screen and (min-width: $screen-md-min) {
			display: none;
		}
	}
	@media screen and (min-width: $screen-md-min) {
		display: block;
		margin-bottom: 0;
		overflow: visible;
	}
	li {
		position: relative;
		cursor: pointer;
		color: #a4cfff;
		margin-right: 30px;
		white-space: nowrap;
		padding-bottom: 10px;
		&:hover {
			color: #1c82f5;
		}
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 30px;
			padding-left: 30px;
			padding-bottom: 0;
			margin-right: 0;
			white-space: normal;
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			z-index: 2;
			@media screen and (min-width: $screen-md-min) {
				width: 0;
				height: 0;
				top: 10px;
				bottom: auto;
			}
		}
		&.active {
			font-family: 'TTNorms-Bold';
			font-weight: 700;
			color: $base-color-main;
			&:before {
				background-color: $base-color-main;
				@media screen and (min-width: $screen-md-min) {
					border-style: solid;
					border-width: 6.5px 0 6.5px 7px;
					background-color: transparent;
					border-color: transparent transparent transparent $base-color-main;
				}
			}
		}
	}
	span {
		position: absolute;
		color: #ff713f;
		font-size: 13px;
		font-family: 'TTNorms-Bold';
	}
}
