//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
	.breadcrumbs {
		padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
		list-style: none;
		margin-bottom: 0;

		&__item {
			display: inline-block;
			vertical-align: middle;

			& + & {
				&:before {
					content: "#{$breadcrumb-separator}";
					padding: 0 12px;
					color: $breadcrumb-color;
				}
			}

			&.active {
				color: $breadcrumb-active-color;
			}
		}

		&__link {
			color: $breadcrumb-color;
			vertical-align: middle;
		}
	}
}
