.grid {
	&-item,
	&-sizer {
		width: calc(100% - 30px);
		@media screen and (min-width: $screen-md-min) {
			width: 47%;
		}
		@media screen and (min-width: $screen-lg-min) {
			width: 30%;
		}
	}
	&-item {
		float: left;
		height: 330px;
		margin-bottom: 4%;
		//transition: all 0.5s;
		&--question {
			padding-bottom: 0 !important;
			margin-bottom: 4% !important;
			@media screen and (min-width: $screen-md-min) {
				height: 330px !important;
			}
		}
		&--full {
			height: auto;
			@media screen and (min-width: $screen-md-min) {
				min-height: 460px;
				width: 97%;
			}
		}
	}
}
.gutter {
	&-sizer {
		@media screen and (min-width: $screen-md-min) {
			width: 5%;
		}
		@media screen and (min-width: $screen-lg-min) {
			width: 5%;
		}
	}
}


/* clear fix */
.isotope:after {
	content: '';
	display: block;
	clear: both;
}
