//
// Modules -> Navs
// --------------------------------------------------

.mobilenav {
	color: $white-lighten;
	background-color: $base-color-main;
	position: fixed;
	left: -100%;
	top: 0;
	bottom: 0;
	max-width: 385px;
	width: 100%;
	transition: left 0.5s;
	padding: 10px 15px;
	display: flex;
	overflow: auto;
	flex-direction: column;
	justify-content: space-between;
	z-index: 19;
	&-icons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	@media screen and (min-width: $screen-sm-min) {
		padding: 35px 40px;
		position: absolute;
		bottom: auto;
		height: 900px;
	}
	.icon-close {
		color: $white-lighten;
		display: inline-block;
		transition: transform 0.5s;
		&:hover {
			transform: rotate(90deg);
			color: $white-lighten !important;
		}
	}
	@media screen and (min-width: $screen-md-min) {
		min-height: 100vh;
		&-icons {
			display: none;
		}
	}
	&.active {
		left: 0;
	}
	.btn--blue {
		span {
			color: $base-color-main !important;
		}
	}
	.mobilenav-top a, .mobilenav-top i, .mobilenav-top span, .mobilenav-bottom .btn--primary, .mobilenav-bottom .btn--primary span {
		color: $white-lighten;
		&:hover {
			color: rgba($white-lighten, 0.6);
		}
	}
	@media screen and (min-width: $screen-md-min) {
		&-top {
			a {
				margin-right: 60px;
			}
		}
	}
	&-center {
		font-size: 20px;
		font-family: "TTNorms-Medium";
		font-weight: 500;
		.main-nav__item {
			display: block;
		}
		.main-nav__link {
			color: $white-lighten;
			padding: 10px 20px;
			@media screen and (min-width: $screen-sm-min) {
				padding: 20px 0;
			}
			&:hover {
				color: rgba($white-lighten, 0.6) !important;
			}
		}
	}
	&-bottom {

	}
}

.nav {
	@media screen and (max-width: $screen-md-max) {
		display: none;
	}
}

.main-nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;

	&__item {
		position: relative;

		@if $use-adaptive == true {
			display: block;
			@media screen and (min-width: $screen-lg-min) {
				display: inline-block;
			}
		} @else {
			display: inline-block;
		}
	}

	&__link {
		position: relative;
		padding: $nav-link-padding;
		text-decoration: none;
		display: block;

		&:hover, &:focus {
			//text-decoration: underline;
		}
	}

	img {
		max-width: none;
	}

	@if $use-adaptive == true {
		&__toggle {
			position: relative;
			float: right;
			padding: 9px 10px;
			background-color: transparent;
			border: none;
			cursor: pointer;

			&:focus {
				outline: 0;
			}

			.icon-bar {
				display: block;
				width: 30px;
				height: 2px;
				background: #000;
				border-radius: 1px;
			}

			.icon-bar + .icon-bar {
				margin-top: 4px;
			}

			@media screen and (min-width: $screen-adaptive-nav) {
				display: none;
			}
		}
		&__collapse {
			overflow-x: visible;
			-webkit-overflow-scrolling: touch;
			display: none;

			&.in {
				overflow-y: auto;
			}

			@media screen and (min-width: $screen-adaptive-nav) {
				display: block !important;
				width: auto;
				border-top: 0;
				box-shadow: none;

				&.collapse {
					display: block !important;
					height: auto !important;
					padding-bottom: 0;
					overflow: visible !important;
				}

				&.in {
					overflow-y: visible;
				}
			}
		}
	}
}

