.ratio {
	flex: 1 1 auto;
	position: relative;
	&:before {
		display: block;
		content: '';
	}
	@media screen and (min-width: $screen-md-min) {
		.content-ratio {
			@include absolute100();
		}
	}
}

.ratio-reset {
	&:before {
		display: none;
	}
	.content-ratio {
		position: static;
	}
}


.ratio-1_1 {
	@extend .ratio;
	&:before {
		padding-top: 100%;
	}
}

.ratio-8_7 {
	@media screen and (min-width: $screen-md-min) {
		@extend .ratio;
		&:before {
			padding-top: 108%;
		}
	}
	@media screen and (min-width: $screen-lg-min) {
		&:before {
			padding-top: 76%;
		}
	}
}
