.tabs {
	&__content {
		display: none;
		&.active {
			display: block;
		}
	}
	&__caption {
		li {
			cursor: pointer;
			position: relative;
			&.primary {
				&:hover,
				&.active {
					color: $color-type-1a;
				}
			}
			&.success {
				&:hover,
				&.active {
					color: $color-type-4a;
				}
			}
			&.danger {
				&:hover,
				&.active {
					color: $color-type-2a;
				}
			}
			&.warning {
				&:hover,
				&.active {
					color: $color-type-3a;
				}
			}
		}
		[class^="icon-"], [class*=" icon-"] {
			font-size: 44px;
		}
	}
	&-inner {
		display: flex;
		@include justify-content__xs(space-between);
		@include align-items__xs(center);
		border-top: 1px solid rgba(#fff, 0.16);
		padding: 75px 0;
		position: relative;
		.line {
			position: absolute;
			top: -1px;
			left: 0;
			height: 2px;
			background-color: $color-type-4a;
			transition: left 0.5s;
		}
	}
}
