.aboutPage {
	padding-top: 140px;
	color: $white-lighten;
	background: url("../images/about.jpg") no-repeat center top / 100% auto, #303030;
	overflow: hidden;
	.breadcrumbs {
		li, a, li:before {
			color: $white-lighten;
		}
	}
	.button,
	.btn {
		@media screen and (max-width: $screen-sm-max) {
			width: 100%;
		}
	}
	&-directions {
		margin-top: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 70px;
		}
		@media screen and (min-width: $screen-xl-min) {
			margin-top: 130px;
		}
		&__num {
			text-shadow: 22px 25px 0 rgba(255, 113, 63, 0.08);
			color: $color-type-3b;
			font-family: "TTNorms-Bold";
			font-size: 406px;
			line-height: 1;
		}
		.element {
			display: flex;
			align-items: start;
			margin-bottom: 30px;
			@media screen and (min-width: $screen-lg-min) {
				margin-bottom: 60px;
			}
			&-left {
				font-size: 48px;
				&--success {
					color: $color-type-4a;
				}
				&--primary {
					color: $base-color-main;
				}
				&--warning {
					color: $color-type-3b;
				}
				&--danger {
					color: $color-type-2a;
				}
			}
			&-right {
				margin-left: 20px;
				h5 {
					margin-bottom: 30px;
				}
				a {
					margin-left: -70px;
					@media screen and (min-width: $screen-md-min) {
						margin-left: 0;
					}
				}
				p {
					color: rgba($white-lighten, 0.5);
					margin-left: -70px;
					@media screen and (min-width: $screen-md-min) {
						margin-left: 0;
					}
				}
			}
		}
	}

	&-license {
		margin-top: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 70px;
		}
		@media screen and (min-width: $screen-lg-min) {
			margin-top: 150px;
		}
		&__desc {
			@media screen and (min-width: $screen-md-min) {
				width: 50%;
			}
			@media screen and (min-width: $screen-lg-min) {
				width: 45%;
			}
			@media screen and (min-width: $screen-xl-min) {
				width: 40%;
			}
			li {
				color: #404040;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			.is-col {
				padding-left: 40px;
				padding-right: 40px;
			}
			.is-row {
				margin-left: -40px;
				margin-right: -40px;
			}
		}
		&__img {
			margin-top: 20px;
			margin-bottom: 20px;
			@media screen and (min-width: $screen-md-min) {
				margin-top: 0;
				margin-bottom: 40px;
			}
			@media screen and (min-width: $screen-lg-min) {
				margin-bottom: 80px;
			}
			&:last-child, &:nth-last-child(2), &:nth-last-child(3) {
				width: 100%;
				@media screen and (min-width: $screen-md-min) {
					width: 30%;
				}
				@media screen and (min-width: $screen-lg-min) {
					width: auto;
				}
			}
			img {
				box-shadow: 22px 25px 0 #373737;
			}
		}
		.is-col__lg-8 {
			.aboutPage-license__img:nth-child(2) {
				width: 40%;
				text-align: right;
			}
		}
	}

	&-projects {
		&__num {
			position: relative;
			margin-bottom: 30px;
			@media screen and (min-width: $screen-md-min) {
				padding-bottom: 80px;
				margin-bottom: 100px;
			}
			span {
				text-shadow: 10px 12px 0 rgba(255, 113, 63, 0.07);
				color: $color-type-3b;
				font-family: 'TTNorms-Bold';
				line-height: 1;
				font-weight: 700;
				text-align: center;
				font-size: 36vw;
				@media screen and (min-width: $screen-sm-min) {
					font-size: 210px;
					text-shadow: 20px 22px 0 rgba(255, 113, 63, 0.07);
				}
				@media screen and (min-width: $screen-md-min) {
					font-size: 290px;
				}
				@media screen and (min-width: $screen-lg-min) {
					font-size: 380px;
				}
				@media screen and (min-width: $screen-xl-min) {
					font-size: 539px;
				}
			}
			h2 {
				line-height: 1;
				@media screen and (min-width: $screen-md-min) {
					position: absolute;
					bottom: 0;
					left: 20%;
				}
				@media screen and (min-width: $screen-lg-min) {
					left: 30%;
				}
				@media screen and (min-width: $screen-xl-min) {
					left: 40%;
				}
			}
			.btn {
				@media screen and (min-width: $screen-md-min) {
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}
		}
		&__img {
			border: 1px solid #3a3a3a;
			filter: grayscale(100%);
			padding: 30px;
			width: 89vw;
			text-align: center;
			margin-bottom: 5px;
			@media screen and (min-width: $screen-md-min) {
				padding: 10px 5px;
				width: auto;
				margin-bottom: 0;
			}
			@media screen and (min-width: $screen-lg-min) {
				padding: 30px;
			}
			@media screen and (min-width: $screen-xl-min) {
				padding: 40px 50px;
			}
		}
	}

	&-clients {
		margin-top: 30px;
		margin-bottom: 30px;
		position: relative;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 80px;
		}
		@media screen and (min-width: $screen-lg-min) {
			margin-bottom: 160px;
		}
		@media screen and (min-width: $screen-xl-min) {
			margin-top: 140px;
			margin-bottom: 260px;
		}
		p, h2 {
			margin-bottom: 20px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 40px;
			}
		}
		.button {
			@media screen and (min-width: $screen-md-min) {
				margin-top: 70px;
			}
		}
		.maps-svg {
			width: 160%;
			margin-bottom: 0;
			@media screen and (min-width: $screen-md-min) {
				margin-top: -100px;
				width: 130%;
			}
			@media screen and (min-width: $screen-lg-min) {
				margin-top: 0;
				position: absolute;
				left: 45%;
				top: 5%;
				z-index: 0;
				width: 100%;
			}
			@media screen and (min-width: $screen-xl-min) {
				width: 1030px;
			}
		}
	}

	&-worker {
		margin-top: 20px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 100px;
		}
		.swiper-about {
			margin-bottom: 20px;
		}
		.swiper-btn-prev,
		.swiper-btn-next {
			color: $black !important;
			background-color: $white-lighten !important;
		}
	}

	&-history {
		h2 {
			margin-bottom: 30px;
		}
		.is-col {
			@media screen and (min-width: $screen-lg-min) {
				width: 30%;
			}
			@media screen and (min-width: $screen-xl-min) {
				width: 26%;
			}
		}
		.item {
			margin-bottom: 30px;
			position: relative;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 60px;
			}
			> * {
				position: relative;
				z-index: 19;
			}
			&:after {
				content: '';
				position: absolute;
				top: -10px;
				left: -20px;
				right: -20px;
				bottom: -10px;
				transition: background-color 0.5s;
				background-color: transparent;
				@media screen and (min-width: $screen-md-min) {
					top: -40px;
					left: -40px;
					right: -40px;
					bottom: -40px;
				}
			}
			&:hover {
				&:after {
					background-color: #373737;
				}
			}
		}
		.tabs__caption {
			font-size: 15px;
			color: $white-lighten;
			display: flex;
			width: 100%;
			justify-content: space-between;
			overflow: auto;
			@media screen and (min-width: $screen-md-min) {
				padding: 20px 0;
				font-size: 30px;
			}
			li {
				margin-right: 20px;
				@media screen and (min-width: $screen-md-min) {
					margin-left: 0;
				}
			}
			li.active {
				color: $color-type-3b;
			}
		}
		.tabs-inner {
			padding: 0;
			border-top: none;
			margin-bottom: 20px;
			border-bottom: 1px solid #3a3a3a;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 60px;
			}
			.line {
				width: 65px;
				top: auto;
				bottom: -1px;
				background-color: $color-type-3b;
			}
		}
	}

	&-contacts {
		margin-top: 50px;
		@media screen and (min-width: $screen-lg-min) {
			margin-top: 150px;
		}
		.title {
			margin-bottom: 40px;
			flex-wrap: wrap;
			@media screen and (min-width: $screen-md-min) {
				flex-wrap: nowrap;
			}
			h2 {
				width: 100%;
				margin-bottom: 20px;
				@media screen and (min-width: $screen-md-min) {
					width: 70%;
					margin-bottom: 0;
				}
				@media screen and (min-width: $screen-lg-min) {
					width: 60%;
				}
			}
		}
		&__ava {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 20px;
			flex-wrap: wrap;
			@media screen and (min-width: $screen-md-min) {
				width: 330px;
				flex-wrap: nowrap;
			}
			.ava {
				width: 100%;
				@media screen and (min-width: $screen-md-min) {
					width: 100px;
				}
			}
			.information {
				width: 100%;
				@media screen and (min-width: $screen-md-min) {
					width: calc(100% - 150px);
				}
			}
			.name {
				font-family: 'TTNorms-Bold';
				@media screen and (min-width: $screen-md-min) {
					margin-bottom: 10px;
				}
			}
			.desc {
				color: #797979;
			}
		}
		&__email {
			margin-top: 20px;
			margin-bottom: 20px;
			display: block;
			line-height: 1;
			font-family: 'TTNorms-Bold';
			font-weight: 700;
			color: $color-type-3b;
			font-size: 35px;
			@media screen and (min-width: $screen-md-min) {
				font-size: 90px;
				margin-top: 50px;
				margin-bottom: 50px;
				text-align: center;
			}
			@media screen and (min-width: $screen-lg-min) {
				font-size: 120px;
				margin-top: 70px;
				margin-bottom: 100px;
			}
			@media screen and (min-width: $screen-xl-min) {
				font-size: 160px;
			}
		}
	}
}

.aboutGrid {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	&--xl {
		display: none;
		@media screen and (min-width: $screen-xl-min) {
			display: flex;
		}
	}
}

.aboutPageLink {
	margin-top: 20px;
	font-size: 20px;
	color: $color-type-3b;
	font-weight: 500;
	display: block;
	font-family: 'TTNorms-Medium';
	@media screen and (min-width: $screen-md-min) {
		margin-top: 40px;
	}
}
