.blogPage {
	&-link {

	}
	.gutter-sizer {
		width: 10%;
	}
	.grid-item {
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 6%;
		}
	}
	.grid-item,
	.grid-sizer {
		width: calc(100% - 30px);
		@media screen and (min-width: $screen-md-min) {
			width: 45%;
		}
	}
	&-item {
		height: 300px;
		position: relative;
		@media screen and (min-width: $screen-xl-min) {
			height: 420px;
		}
		> div {
			width: 100%;
			height: 100%;
		}
		&_desc {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 40px 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			color: $white-lighten;
			text-decoration: none;
			@media screen and (min-width: $screen-xl-min) {
				padding: 60px 40px;
			}
			.tag {
				position: absolute;
				top: 0;
				left: 0;
			}
			.title {
				font-size: 18px;
				font-family: 'TTNorms-Regular';
				@media screen and (min-width: $screen-xl-min) {
					font-size: 25px;
				}
			}
			.date {
				color: rgba($white-lighten, 0.5);
			}
		}
		&_img {
			height: 100%;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		&--primary > div {
			color: $black-darken;
			background-color: #f3f8fe;
			.date {
				color: $base-color-main;
			}
			.title {
				color: $black-darken;
			}
			&:hover .title {
				color: $base-color-main;
			}
		}
	}
	&-nav {
		position: relative;
		@media screen and (min-width: $screen-md-min) {
			padding: 50px 30px;
		}
		@media screen and (min-width: $screen-xl-min) {
			max-width: 90%;
		}
		li {
			position: relative;
			z-index: 10;
		}
		@media screen and (min-width: $screen-md-min) {
			color: $white-lighten;
			background-color: $base-color-main;
			padding: 30px;
			li.active {
				color: $white-lighten;
				&::before {
					border-color: transparent transparent transparent $white-lighten;
				}
			}
			&::after {
				content: '';
				height: 100%;
				width: 100%;
				position: absolute;
				top: 8px;
				left: 8px;
				z-index: 0;
				background-color: rgba($base-color-main, 0.08);
			}
		}
	}
	.project-form {
		margin-top: 30px;
		padding: 30px 20px;
		@media screen and (min-width: $screen-xl-min) {
			max-width: 90%;
			margin-top: 90px;
			padding: 50px 40px;
		}
		h3 {
			font-size: 24px;
			@media screen and (min-width: $screen-lg-min) {
				font-size: 30px;
			}
		}
	}
}
