.clientsPage {
	margin-bottom: 60px;
	overflow: hidden;
	@media screen and (min-width: $screen-lg-min) {
		margin-bottom: 120px;
	}
	p, .title {
		position: relative;
		z-index: 1;
	}
	&-item {
		margin-bottom: 40px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 60px;
		}
		p {
			color: #c2c2c2;
		}
	}
	&-desc {
		p {
			margin-bottom: 40px;
		}
	}
	&-btn {
		margin-top: 30px;
		@media screen and (min-width: $screen-lg-min) {
			margin-top: 70px;
		}
		.button {
			margin-right: 10px;
			@media screen and (min-width: $screen-lg-min) {
				margin-right: 30px;
			}
		}
	}

	@media screen and (max-width: $screen-sm-max) {
		.button, .btn {
			width: 100%;
			display: flex;
		}
	}
	&-link {
		padding-top: 50px;
		border-top: 1px solid rgba(#c6c6c6, 0.5);
		text-align: center;
		@media screen and (min-width: $screen-md-min) {
			padding-top: 70px;
		}
	}
	&-inner {
		margin-top: 50px;
		@media screen and (min-width: $screen-lg-min) {
			margin-top: 200px;
		}
		@media screen and (min-width: $screen-xl-min) {
			margin-top: 330px;
		}
	}
	.clients {
		padding-bottom: 20px;
	}

	.maps-svg {
		width: 130%;
		@media screen and (min-width: $screen-md-min) {
			position: absolute;
			left: 42%;
			top: -3%;
			width: 1300px;
		}
		@media screen and (min-width: $screen-lg-min) {
			left: 39%;
			top: -4%;
			z-index: 0;
			width: 1400px;
		}
		@media screen and (min-width: $screen-xl-min) {
			left: 36%;
			top: -11%;
			width: 1600px;
		}
	}
}
