.contactsPage {
	overflow: hidden;
	@media screen and (max-width: $screen-xs-max) {
		.visible__xs {
			display: block !important;
		}
	}
	@media screen and (max-width: $screen-sm-max) {
		.visible__sm {
			display: block !important;
		}
	}
	.address {
		&-list {
			background: url("../images/shadow.png") no-repeat center bottom / 100% auto;
			@media screen and (min-width: $screen-md-min) {
				max-height: 630px;
			}
			@media screen and (min-width: $screen-lg-min) {
				max-height: 700px;
			}
			@media screen and (min-width: $screen-xl-min) {
				max-height: 880px;
			}
			&__item {
				padding: 35px 17px;
				border-bottom: 1px solid #d9d9d9;
				cursor: pointer;
				@media screen and (min-width: $screen-xl-min) {
					padding: 45px 40px;
				}
				.btn {
					margin-top: 20px;
				}
				p + p {
					color: rgba($black-darken, 0.6);
				}
				.text--grey {
					color: rgba($white-lighten, 0.6);
				}
				@media screen and (min-width: $screen-md-min) {
					&.active,
					&:hover {
						color: $white-lighten;
						background-color: $base-color-main;
						p + p {
							color: rgba($white-lighten, 0.6);
						}
					}
				}
			}
			.text__lg {
				margin-bottom: 30px;
				display: block;
			}
		}
	}
	&-left {
		display: flex;
		flex-direction: column;
	}
	h3 {
		margin-top: 0;
		font-size: 40px;
		font-family: 'TTNorms-Light';
		margin-bottom: 30px;
		@media screen and (min-width: $screen-xl-min) {
			margin-bottom: 40px;
		}
	}
	.contacts {
		&-item {
			font-size: 25px;
			line-height: 1;
			margin-top: 20px;
			margin-bottom: 20px;
			font-family: 'TTNorms-Light';
			color: $black;
			display: block;
			@media screen and (min-width: $screen-md-min) {
				font-size: 30px;
			}
			&:hover {
				color: $base-color-main;
			}
			span {
				vertical-align: middle;
			}
			@media screen and (min-width: $screen-xl-min) {
				font-size: 40px;
				margin-bottom: 40px;
			}
			span:first-child {
				font-size: 38px;
				margin-right: 20px;
				color: $color-type-3a;
				@media screen and (min-width: $screen-md-min) {
					margin-right: 40px;
				}
			}
		}
	}
	.project-form {
		margin-bottom: 40px;
		position: relative;
		> * {
			z-index: 10;
			position: relative;
		}
		&:after {
			content: '';
			position: absolute;
			width: 200%;
			height: 40%;
			background-color: #303030;
			bottom: -40px;
			left: -50%;
			right: -50%;
			z-index: -1;
		}
	}
}

#map {
	width: 100%;
	height: 360px;
	margin-top: auto;
	display: none;
	@media screen and (min-width: $screen-md-min) {
		display: block;
	}
}

.map {
	display: none;
}
