.directionPage {
	padding-top: 40px;
	@media screen and (min-width: $screen-md-min) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.service-list {
		border: none;
		margin-bottom: 60px;
	}
	.faq-list {
		h2 {
			margin-bottom: 60px;
		}
	}
	.project-form {
		margin: 0;
		padding: 30px 20px;
		@media screen and (min-width: $screen-lg-min) {
			max-width: 380px;
			padding: 50px 40px;
			float: right;
		}
		h3 {
			font-size: 37px;
			margin-bottom: 40px;
			font-family: 'TTNorms-Bold';
		}
	}
	.present-form {
		margin: 40px 0;
		color: $white-lighten;
		background-color: $black;
		padding: 30px 20px;
		height: 440px;
		position: relative;
		@media screen and (min-width: $screen-lg-min) {
			max-width: 380px;
			padding: 50px 40px;
			float: right;
		}
		a {
			color: $white-lighten;
			font-family: 'TTNorms-Bold';
			position: relative;
			z-index: 9;
			&:hover {
				color: $base-color-main;
			}
		}
		h3 {
			margin-top: 0;
			font-size: 37px;
			margin-bottom: 40px;
			font-family: 'TTNorms-Bold';
		}
		img {
			position: absolute;
			bottom: -40px;
			right: 0;
		}
	}
	&-common {
		padding-top: 100px;
		color: $white-lighten;
		background: url("../images/direction-main-m.jpg") no-repeat center top / 100% auto, #292929;
		@media screen and (min-width: $screen-md-min) {
			background: url("../images/direction-main.jpg") no-repeat center top / 100% auto, #292929;
		}
		.breadcrumbs__item::before, .breadcrumbs__item.active, .icon-home:before {
			color: $white-lighten;
		}
		p {
			margin-bottom: 40px;
		}
		h2 {
			margin-bottom: 40px;
		}
		.linkIcon span {
			color: $white-lighten;
		}
		&__info {
			margin-top: 0;
			margin-bottom: 60px;
			padding: 70px 0;
			border-bottom: 1px solid rgba(#c6c6c6, 0.35);
			.btn {
				margin-top: 30px;
			}
			@media screen and (min-width: $screen-xl-min) {
				margin-top: 200px;
				.btn {
					margin-top: 0;
				}
			}
		}
		.btn {
			@media screen and (max-width: $screen-sm-max) {
				width: 100%;
			}
		}
		&__number {
			font-size: 100px;
			line-height: 0.8;
			@media screen and (min-width: $screen-md-min) {
				display: inline-block;
				vertical-align: top;
			}
		}
		&__txt {
			font-family: 'TTNorms-Bold';
			margin-bottom: 30px;
			margin-top: 10px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 0;
			}
			@media screen and (min-width: $screen-lg-min) {
				margin-left: 30px;
				margin-top: 0;
				display: inline-block;
				vertical-align: top;
			}
		}
		.prices {
			color: $base-color-main !important;
			background-color: $white-lighten !important;
			&-item {
				height: 330px;
				margin-bottom: 50px;
				color: $white-lighten;
				background-color: $base-color-main;
				&:hover {
					background-color: lighten($base-color-main, 5);
				}
			}
		}
	}
}

.back--grey {
	background-color: #fcfcfc;
}
