.documentsPage {
	overflow: hidden;
	.is-row {
		@media screen and (max-width: $screen-sm-max) {
			overflow: auto;
			flex-wrap: nowrap;
			.is-col {
				min-width: 300px;
			}
		}
	}
	&-item {
		margin-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			padding-right: 5%;
			margin-bottom: 80px;
		}
	}
	&-link {
		padding-top: 50px;
		padding-bottom: 100px;
		text-align: center;
		border-top: 1px solid #d9d9d9;
	}

	.swiper-btn-next,
	.swiper-btn-prev {
		color: $white-lighten;
		background-color: $base-color-main;
	}
	.swiper {
		&-settings {
			top: 70px;
		}
	}
}
