.employeesPage {
	h3 {
		font-size: 30px;
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid rgba(#c6c6c6, 0.5);
		@media screen and (min-width: $screen-lg-min) {
			margin-bottom: 70px;
		}
	}
	a.text__lg {
		color: $black;
		display: block;
		margin-bottom: 10px;
		span {
			vertical-align: middle;
			margin-right: 10px;
		}
		&:hover {
			color: $base-color-main;
		}
	}
	p {
		span {
			vertical-align: middle;
			margin-right: 10px;
		}
	}
	.text--primary {
		margin-bottom: 15px;
		display: block;
		@media screen and (min-width: $screen-lg-min) {
			margin-bottom: 35px;
		}
	}
	&-main {
		img {
			margin-bottom: 20px;
		}
		&_item {
			margin-bottom: 60px;
			@media screen and (min-width: $screen-lg-min) {
				margin-bottom: 120px;
			}
		}
	}
	&-title {
		font-size: 30px;
		font-family: 'TTNorms-Light';
		margin-bottom: 15px;
		@media screen and (min-width: $screen-lg-min) {
			font-size: 40px;
		}
	}
	&-desc {
		@media screen and (min-width: $screen-lg-min) {
			margin-top: 60px;
		}
	}
	&-item {
		margin-bottom: 60px;
		@media screen and (min-width: $screen-lg-min) {
			margin-bottom: 120px;
		}
		.swiper {
			padding: 0;
		}
		.swiper-btn-next,
		.swiper-btn-prev {
			color: $white-lighten;
			background-color: $base-color-main;
		}
		.swiper {
			&-settings {
				top: -20px;
			}
		}
	}
	.swiper-container {
		position: static;
	}
	.swiper-employee {
		@media screen and (min-width: $screen-md-min) {
			padding-top: 100px;
		}
	}
}
