.faqPage {
	&-link {
		padding-top: 50px;
		text-align: center;
		border-top: 1px solid #d9d9d9;
	}
	.grid-item--full {
		min-height: inherit;
	}
	&-item {
		margin-bottom: 30px !important;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 70px !important;
		}
		& + & {
			padding-top: 30px;
			border-top: 1px solid #dedede;
			@media screen and (min-width: $screen-md-min) {
				padding-top: 60px;
			}
		}
	}
}

.accordion {
	.toggle {
		font-size: 25px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		font-family: "TTNorms-Medium";
		cursor: pointer;
		@media screen and (min-width: $screen-sm-min) {
			flex-wrap: nowrap;
		}
		&:hover {
			color: $base-color-main;
		}
		.img {
			width: 44px;
			height: 44px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50px;
			margin-right: 10px;
			transition: all 0.5s;
			font-size: 12px;
			@media screen and (min-width: $screen-md-min) {
				margin-right: 35px;
			}
		}
		&.show {
			color: $base-color-main;
			.img {
				color: $white-lighten;
				background-color: $base-color-main;
				transform: rotate(45deg);
				.icon-plus {
					color: $white-lighten;
				}
			}
		}
		span {
			width: 100%;
			@media screen and (min-width: $screen-md-min) {
				width: calc(100% - 80px);
			}
		}
	}
	.inner {
		color: rgba($black-darken, 0.6);
		display: none;
		padding-top: 35px;
		@media screen and (min-width: $screen-md-min) {
			padding-left: 80px;
		}
	}
}
