//
// Pages -> Index
// ------------------------------------

.hidden-content {
	display: none !important;
}

.column {
	&-2 {
		column-count: 1;
		@media screen and (min-width: $screen-md-min) {
			column-count: 2;
		}
		@media screen and (min-width: $screen-lg-min) {
			column-gap: 5em;
		}
	}
}
.relative {
	position: relative;
}

.index {
	.reviews {
		@media screen and (min-width: $screen-md-min) {
			&:before {
				content: '';
				background: $black;
				height: 25px;
				width: 40%;
				position: absolute;
				top: 0;
				right: 0;
				z-index: 10;
			}
			&:after {
				content: '';
				background: $white-lighten;
				height: 25px;
				width: 24%;
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: 10;
			}
		}
	}
}

.videotabs {
	position: relative;
	display: flex;
	align-items: flex-end;
	color: $white-lighten;
	background-color: $black;
	overflow: hidden;
	@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		height: 70vh;
	}
	@media screen and (max-width: $screen-sm-max) {
		display: none;
	}
	@media screen and (max-width: $screen-md-max) and (min-width: $screen-md-min) {
		.visible__md {
			display: block !important;
		}
	}
	&:before {
		content: '';
		background: $black;
		height: 30px;
		width: 66%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 10;
	}
	h1 {
		margin-top: 200px;
		margin-bottom: 100px;
		@media screen and (min-width: $screen-xl-min) {
			width: 50%;
		}
	}
	.container {
		position: relative;
		z-index: 10;
	}
	.video {
		position: absolute;
		height: 100%;
		width: 100%;
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.tabs-inner {
		@media screen and (max-width: $screen-md-max) and (min-width: $screen-md-min) {
			flex-wrap: wrap;
		}
	}
	.tabs__caption {
		width: 85%;
		font-size: 20px;
		display: flex;
		@include justify-content__xs(space-around);
		@include align-items__xs(center);
		@media screen and (max-width: $screen-md-max) and (min-width: $screen-md-min) {
			width: 100%;
		}
		li {
			align-self: flex-start;
		}
		span {
			height: 50px;
		}
		p {
			margin-top: 30px;
		}
	}
}

.directions {
	color: $white-lighten;
	background-color: $black;
	padding-top: 70px;
	padding-bottom: 70px;
	@media screen and (min-width: $screen-md-min) {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	h2 {
		margin-bottom: 60px;
		@media screen and (max-width: $screen-sm-max) {
			&.visible__xs, &.visible__sm {
				display: block !important;
			}
		}
	}
	.button {
		margin-top: 30px;
	}
	.column div {
		margin-bottom: 20px;
		@media screen and (min-width: $screen-md-min) {
			height: 130px;
		}
	}
	@media screen and (max-width: $screen-sm-max) {
		.tabs__content {
			margin-top: 30px;
		}
		.button {
			display: block;
		}
		.btn {
			display: flex;
		}
	}
	.tabs__caption {
		@media screen and (max-width: $screen-sm-max) {
			display: flex;
			overflow: auto;
		}
		li {
			display: flex;
			width: 100%;
			align-items: center;
			padding-bottom: 15px;
			padding-right: 40px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 2px;
				transition: width 0.5s;
				background-color: transparent;
			}
			&.primary::after {
				background-color: $color-type-1a;
			}
			&.success::after {
				background-color: $color-type-4a;
			}
			&.danger::after {
				background-color: $color-type-2a;
			}
			&.warning::after {
				background-color: $color-type-3a;
			}
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 30px;
				padding-right: 0;
			}
			@media screen and (min-width: $screen-lg-min) {
				padding-bottom: 30px;
				margin-bottom: 50px;
			}
			p {
				margin-left: 10px;
				margin-bottom: 0;
				white-space: nowrap;
				@media screen and (min-width: $screen-md-min) {
					margin-left: 30px;
					white-space: normal;
				}
			}
			&.active,
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}
}

#tab01 span {
	color: $color-type-4a;
}
#tab02 span {
	color: $color-type-1a;
}
#tab03 span {
	color: $color-type-3a;
}
#tab04 span {
	color: $color-type-2a;
}

.reviews {
	color: $white-lighten;
	background-color: $base-color-main;
	padding-top: 30px;
	padding-bottom: 60px;
	position: relative;
	overflow: hidden;
	@media screen and (min-width: $screen-md-min) {
		padding-top: 130px;
		padding-bottom: 120px;
	}
	h2 {
		span {
			color: #1b80f2;
			font-size: 35px;
			@media screen and (min-width: $screen-lg-min) {
				font-size: 53.1px;
			}
		}
	}
	&-name {
		margin-top: 15px;
		font-family: 'TTNorms-Medium';
		@media screen and (min-width: $screen-md-min) {
			margin-top: 40px;
			margin-bottom: 10px;
		}
	}
	&-company {
		color: #73b0f4;
	}
	.swiper {
		&-slide {
			font-size: 20px;
			width: 90%;
			@media screen and (min-width: $screen-sm-min) {
				width: 100%;
			}
		}
		&-settings {
			@media screen and (max-width: $screen-sm-max) {
				position: static;
				margin-top: 40px;
			}
			.btn {
				@media screen and (min-width: $screen-lg-min) {
					margin-right: 120px;
				}
				@media screen and (max-width: $screen-sm-max) {
					display: flex;
					width: 100%;
				}
			}
		}
	}
}

.projects {
	padding-top: 50px;
	@media screen and (min-width: $screen-md-min) {
		padding-top: 80px;
	}
	.container {
		border-bottom: 1px solid rgba(#c6c6c6, 0.35);
		padding-bottom: 40px;
		@media screen and (min-width: $screen-lg-min) {
			padding-bottom: 100px;
		}
	}
	h2 {
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 50px;
		}
	}
	p {
		color: rgba($white-lighten, 0.6);
		margin-bottom: 40px;
		@media screen and (min-width: $screen-lg-min) {
			margin-bottom: 12px;
		}
	}
	@media screen and (max-width: $screen-sm-max) {
		.btn {
			display: flex;
			width: 100%;
		}
		.button {
			display: block;
		}
	}
	&-item {
		color: $white-lighten;
		height: 660px;
		padding: 30px 15px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 40px;
		@media screen and (min-width: $screen-md-min) {
			height: 600px;
			margin-bottom: 0;
		}
		@media screen and (min-width: $screen-lg-min) {
			height: 540px;
			padding: 45px;
		}
		h4 {
			margin-bottom: 30px;
		}
		.flex {
			margin-top: auto;
			@media screen and (min-width: $screen-lg-min) {
				height: 100%;
			}
		}
	}
	&-inner {
		margin-bottom: 20px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 40px;
		}
		@media screen and (min-width: $screen-lg-min) {
			margin-bottom: 100px;
		}
	}
	&-list {
		h3 {
			margin-top: 0;
		}
		&_item {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
		&_img {
			border: 1px solid rgba(#626262, 0.15);
			display: flex;
			justify-content: center;
			align-items: center;
			height: 130px;
			max-width: inherit;
			@media screen and (min-width: $screen-sm-min) {
				max-width: 250px;
			}
		}
		&_title {
			margin: 10px 0 20px;
			a {
				color: $black;
				&:hover {
					color: $base-color-main;
				}
			}
		}
		&_desc {
			color: rgba(#000000, 0.6);
			margin-bottom: 40px;
		}
		&_btn {
			margin-top: auto;
			display: flex;
			justify-content: space-between;
			@media screen and (min-width: $screen-lg-min) {
				display: block;
				> * + * {
					margin-left: 50px;
				}
			}
			@media screen and (max-width: $screen-sm-max) {
				width: 100%;
				margin-bottom: 20px;
				.btn, .button {
					display: flex;
					width: 100%;
				}
			}
		}
	}
}

.news {
	padding-top: 20px;
	@media screen and (min-width: $screen-md-min) {
		padding-top: 60px;
	}
	.container {
		border-bottom: 1px solid rgba(#c6c6c6, 0.35);
		padding-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			padding-bottom: 70px;
		}
	}
	h2 {
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 60px;
		}
	}
	&-date {
		color: rgba($base-color-main, 0.6);
		font-size: 16px;
	}
	&-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 30px 5px;
		display: flex;
		flex-direction: column;
		color: $white-lighten;
		@media screen and (min-width: $screen-md-min) {
			padding: 30px 35px;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding: 55px;
		}
		h3 {
			font-size: 30px;
			margin-top: 0;
			@media screen and (min-width: $screen-md-min) {
				font-size: 36px;
			}
			@media screen and (min-width: $screen-lg-min) {
				font-size: 50px;
				margin-bottom: 30px;
				margin-top: 25px;
			}
		}
		.flex {
			height: 100%;
		}
		.news-date {
			color: rgba($white-lighten, 0.6);
		}
		@media screen and (min-width: $screen-md-min) {
			.button + .btn {
				margin-left: 35px;
			}
		}
	}
	h3, h4 {
		font-family: 'TTNorms-Regular';
		font-weight: 400;
	}
	&-main {
		position: relative;
		margin-bottom: 40px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 80px;
		}
		@media screen and (max-width: $screen-sm-max) {
			img {
				height: 500px;
				object-fit: cover;
			}
			.btn, .button {
				display: flex;
				width: 100%;
			}
			.btn {
				margin-top: 20px;
			}
		}
	}
	&-column {
		word-wrap: break-word;
		overflow: auto;
		width: 300px;
		a {
			display: block;
			color: inherit;
			&:hover {
				color: $base-color-main;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			width: 33%;
		}
		@media screen and (min-width: $screen-lg-min) {
			width: 20%;
		}
	}
	.swiper-pagination {
		@media screen and (max-width: $screen-sm-max) {
			bottom: 42%;
		}
	}
}

.maps {
	position: relative;
	overflow: hidden;
	&-svg {
		margin-bottom: 40px;
		@media screen and (min-width: $screen-md-min) {
			width: 1700px;
		}
		@media screen and (min-width: $screen-lg-min) {
			width: 1920px;
		}
		@media screen and (min-width: $screen-xl-min) {
			margin-top: 45px;
			margin-bottom: 100px;
		}
	}
	&-inner {
		@media screen and (min-width: $screen-md-min) {
			position: absolute;
			max-width: 485px;
			left: 35%;
		}
		@media screen and (min-width: $screen-lg-min) {
			max-width: 500px;
			left: 30%;
		}
		h2 {
			margin-bottom: 30px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 80px;
			}
		}
		p {
			margin-bottom: 40px;
			line-height: 28px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 50px;
			}
		}
	}
	&-top {
		top: 11%;
	}
	&-bottom {
		bottom: 14%;
	}
}

.clients {
	padding-top: 10px;
	padding-bottom: 60px;
	overflow: hidden;
	@media screen and (min-width: $screen-md-min) {
		padding-top: 40px;
	}
	@media screen and (min-width: $screen-xl-min) {
		padding-bottom: 130px;
	}
	h2 {
		span {
			color: #dfecfa;
			display: none;
			@media screen and (min-width: $screen-xl-min) {
				display: inline-block;
			}
		}
	}
	a {
		color: $black;
		&:hover {
			color: $base-color-main;
		}
	}
	.client {
		&-img {
			max-width: 400px;
			height: 200px;
			border: 1px solid rgba(#626262, 0.13);
			display: flex;
			justify-content: center;
			align-items: center;
		}
		h5 {
			margin-bottom: 0;
		}
		p {
			color: #c2c2c2;
		}
	}
	.swiper-slide {
		margin-top: 20px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 60px;
		}
	}
	@media screen and (min-width: $screen-lg-min) {
		.swiper-btn {
			margin-left: 30px;
		}
	}
	.swiper-btn-next,
	.swiper-btn-prev {
		color: $white-lighten;
		background-color: $base-color-main;
	}
	.swiper-client {
		@media screen and (min-width: $screen-xl-min) {
			overflow: hidden;
		}
	}
	.swiper {
		&-settings {
			@media screen and (max-width: $screen-sm-max) {
				position: static;
				margin-top: 40px;
			}
			.btn {
				@media screen and (max-width: $screen-sm-max) {
					display: flex;
					width: 100%;
				}
			}
		}
	}
}

.maps-svg {
	path {
		transition: all 1s;
		fill: $color-type-3a;
		stroke: $color-type-3a;
		stroke-width: 10;
		@media screen and (min-width: $screen-md-min) {
			stroke-width: 0;
		}
		&:hover {
			stroke-width: 20;
			@media screen and (min-width: $screen-md-min) {
				stroke-width: 10;
			}
		}
	}
}
.flexString {
	display: flex;
}
.flex {
	display: flex;
	flex-direction: column;
	&-auto {
		&-top {
			margin-top: auto;
		}
		&-bottom {
			margin-bottom: auto;
		}
	}
}
