.licensePage {
	overflow: hidden;
	&-item {
		padding-right: 3%;
		margin-bottom: 50px;
		min-width: 300px;
		color: $black;
		@media screen and (min-width: $screen-lg-min) {
			margin-bottom: 100px;
			min-width: inherit;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding-right: 10%;
		}
		&:hover h5 {
			color: $base-color-main;
		}
	}
	.is-row {
		overflow: auto;
		@media screen and (max-width: $screen-sm-max) {
			flex-wrap: nowrap;
		}
	}
}
