.newsPage {
	.tag {
		margin-bottom: 0;
	}
	&-main {
		img {
			min-height: 460px;
			object-fit: cover;
		}

		@media screen and (max-width: $screen-lg-max) {
			.button, .btn {
				width: 100%;
			}
		}
	}
	a:not(.btn) {
		color: $black;
		&:hover {
			color: $base-color-main;
		}
	}
	&-item {
		background-color: #f3f8fe;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 390px !important;
		padding: 40px 30px;
		@media screen and (max-width: $screen-sm-max) {
			width: 100% !important;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding: 60px 90px 60px 40px;
		}
		h4 {
			font-family: 'TTNorms-Regular';
		}
		.tag {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&-link {
		padding-top: 50px;
		padding-bottom: 100px;
		text-align: center;
		border-top: 1px solid #d9d9d9;
	}
	.button-nav {
		margin-bottom: 50px;
	}

	.news-inner {
		> div {
			display: flex;
			flex-direction: column;
			height: 100%;
			align-items: flex-start;
		}
	}
	.flex-auto-top {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		@media screen and (min-width: $screen-md-min) {
			.button {
				margin-right: 40px;
			}
		}
	}
	.grid-item {
		@media screen and (max-width: $screen-sm-max) {
			width: 100%;
		}
	}
}
