.page404 {
	color: $white-lighten;
	background-color: #303030;
	padding-top: 120px;
	padding-bottom: 140px;
	width:100%;
	overflow: hidden !important;
	@media screen and (max-width: $screen-sm-max) {
		padding-top: 70px;
		padding-bottom: 0;
		.button, .btn {
			width: 100%;
		}
		li {
			display: block;
			margin-bottom: 10px;
		}
	}
	h1 {
		color: #292929;
		font-size: 47vw;
		line-height: 0.8;
		@media screen and (min-width: $screen-lg-min) {
			font-size: 480px;
		}
		@media screen and (min-width: $screen-xl-min) {
			font-size: 518px;
		}
		@media screen and (min-width: 1400px) {
			font-size: 585px;
		}
	}
	h3 {
		margin-bottom: 300px;
		width: 250px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 70px;
			width: auto;
		}
	}
	h4 {
		font-size: 20px;
		@media screen and (min-width: $screen-lg-min) {
			font-size: 25px;
		}
	}
	&-img {
		position: absolute;
		right: 0;
		background: url("../images/page404.png") no-repeat center left / auto 100%;
		top: 50%;
		width: 54%;
		height: 400px;
		@media screen and (min-width: $screen-md-min) {
			top: 20%;
			width: 36%;
			height: 700px;
		}
		@media screen and (min-width: $screen-lg-min) {
			top: 24%;
		}
		@media screen and (min-width: $screen-xl-min) {
			width: 33%;
			height: 800px;
		}
		a {
			position: absolute;
			display: block;
			bottom: 80px;
			left: 19%;
			border-radius: 200px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 130px;
			height: 130px;
			background-color: #ff713f;
			@media screen and (min-width: $screen-md-min) {
				width: 192px;
				height: 192px;
			}
			&:hover {
				background-color: #ff8a61;
			}
		}
		h4 {
			position: absolute;
			bottom: 70px;
			left: -140px;
			@media screen and (min-width: $screen-sm-min) {
				left: -160px;
			}
			@media screen and (min-width: $screen-md-min) {
				bottom: 120px;
			}
			@media screen and (min-width: $screen-xl-min) {
				left: -220px;
			}
			@media screen and (min-width: $screen-md-min) {
				&:after {
					content: '';
					width: 145px;
					height: 42px;
					display: block;
					background: url('../images/line.svg') no-repeat center;
					position: absolute;
					bottom: -60px;
					left: 70%;
				}
			}
		}
	}
	@media only screen and (max-width: $screen-sm-max) and (orientation: landscape) {
		.page404-img {
			top: 100%;
			width: 47%;
			height: 450px;
		}
	}
}
