.prices {
	padding-bottom: 40px;
	@media screen and (min-width: $screen-md-min) {
		padding-bottom: 100px;
	}
	&-item {
		padding: 23px;
		background-color: #e8f3ff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: baseline;
		height: 100%;
		transition: all 0.3s;
		@media screen and (min-width: $screen-xl-min) {
			padding: 30px;
		}
		h4 {
			margin-top: 0;
		}
		.prices {
			padding: 8px 15px;
			font-family: 'TTNorms-Medium';
			display: inline-block;
			color: $white-lighten;
			background-color: $base-color-main;
		}
		&--question {
			color: $white-lighten;
			background-color: $color-type-3b;
			h4 {
				span {
					display: block;
					font-weight: 400;
					font-family: 'TTNorms-Regular';
				}
				@media screen and (min-width: $screen-md-min) {
					font-size: 28px;
				}
			}
			@media screen and (max-width: $screen-sm-max) {
				.btn {
					display: flex;
					width: 100%;
				}
				.button {
					width: 100%;
					display: block;
				}
			}
			&:hover {
				background-color: lighten($color-type-3b, 10);
			}
		}
		&:hover {
			transform: translateY(-10px);
			color: $white-lighten;
			background-color: $base-color-main;
			.prices {
				color: $base-color-main;
				background-color: $white-lighten;
			}
		}
	}
}

