.project {
	overflow: hidden;
	padding-bottom: 60px;
	@media screen and (min-width: $screen-md-min) {
		padding-bottom: 120px;
	}
	&-slide {
		background-color: #fafafa;
		text-align: center;
		width: 60%;
		height: 520px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			transition: all 0.5s;
		}
		&:hover {
			img {
				transform: scale(1.2);
			}
		}
	}
	p {
		line-height: 28px;
		margin-bottom: 50px;
	}

	.swiper-btn-next,
	.swiper-btn-prev {
		color: $white-lighten;
		background-color: $base-color-main;
	}
	.swiper {
		&-settings {
			top: 120px;
		}
	}
	.swiper-project {
		padding-top: 30px;
	}
	.projects-list {
		&_btn {
			@media screen and (max-width: $screen-sm-max) {
				width: 100%;
				margin-bottom: 40px;
				.button,
				.btn {
					width: 100%;
				}
			}
		}
	}
	&-form {
		margin-top: 90px;
		margin-bottom: 100px;
		background-color: #ff713f;
		color: $white-lighten;
		padding: 20px 15px;
		@media screen and (min-width: $screen-md-min) {
			padding: 40px 28px 25px;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding: 50px 80px 30px;
		}
		h3 {
			font-size: 36px;
			font-family: 'TTNorms-Bold';
			margin-top: 0;
			@media screen and (min-width: $screen-xl-min) {
				font-size: 38px;
			}
			span {
				display: block;
				font-family: 'TTNorms-Regular';
			}
		}
		.btn,
		.is-col {
			@media screen and (max-width: $screen-sm-max) {
				width: 100%;
			}
		}
	}
}


.projectsPage {
	padding-bottom: 100px;
	.grid-item, .grid-sizer {
		@media screen and (min-width: $screen-lg-min) {
			width: 27%;
		}
	}
	.gutter-sizer {
		@media screen and (min-width: $screen-lg-min) {
			width: 9.5%;
		}
	}
	.grid-item {
		height: auto;
		margin-bottom: 30px;
		position: relative;
		@media screen and (max-width: $screen-sm-max) {
			width: 100%;
		}
		@media screen and (min-width: $screen-md-min) {
			height: 530px;
			margin-bottom: 70px;
		}
	}

	&-link {
		padding-top: 70px;
		border-top: 1px solid rgba(#c6c6c6, 0.5);
		text-align: center;
	}
}
