.reviewsPage {
	margin-bottom: 60px;
	overflow: hidden;
	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 100px;
	}
	.between__xs {
		flex-wrap: nowrap;
		overflow: auto;

		@media screen and (min-width: $screen-md-min) {
			flex-wrap: wrap;
			margin-left: 0;
		}
	}
	&-item {
		padding: 20px;
		background-color: #f8fbff;
		margin-bottom: 40px;
		margin-left: 20px;
		width: 100%;
		@media screen and (min-width: $screen-md-min) {
			width: 49%;
			margin-bottom: 100px;
			margin-left: 0;
		}
		@media screen and (min-width: $screen-lg-min) {
			padding: 60px 50px 80px;
		}
		@media screen and (min-width: $screen-xl-min) {
			width: 44%;
		}
		.text--primary {
			margin-bottom: 20px;
			@media screen and (min-width: $screen-lg-min) {
				margin-top: 0;
				margin-bottom: 50px;
			}
		}
		img {
			display: block;
		}
		p {
			color: rgba($base-color-main, 0.5);
		}
		a {
			display: inline-block;
			margin-top: 70px;
			font-family: 'TTNorms-Bold';
			font-weight: 600;
		}
	}
	&-link {
		text-align: center;
	}
}
