.services {
	&-item {
		padding: 15px;
		margin-bottom: 10px;
		display: flex;
		transition: all 0.2s;
		@extend .content-ratio;
		@media screen and (min-width: $screen-md-min) {
			padding: 25px;
			margin-bottom: 50px;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				transition: all 0.5s;
			}
		}
		@media screen and (min-width: $screen-lg-min) {
			padding: 35px;
		}
		&_desc {
			display: flex;
			flex-direction: column;
			@extend .is-col__xl-6;
		}
		span {
			font-size: 35px;
			margin-right: 20px;
			display: block;
			@media screen and (min-width: $screen-md-min) {
				margin-right: 40px;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			.btn {
				opacity: 0;
			}
		}
		h4 {
			margin-top: 0;
		}
		&:hover {
			cursor: pointer;
			.btn {
				opacity: 1;
			}
			&:after {
				top: 23px;
				left: 23px;
			}
		}
		&--success {
			color: $color-type-4a;
			background: rgba($color-type-4a,0.12);
			&:after {
				background-color: rgba($color-type-4a,0.12);
			}
			&:hover {
				color: $white-lighten;
				background: url("../images/services-1.jpg") no-repeat center / cover;
			}
		}
		&--warning {
			color: $color-type-3b;
			background: rgba($color-type-3b,0.12);
			&:after {
				background-color: rgba($color-type-3b,0.12);
			}
			&:hover {
				color: $black-darken;
				background: url("../images/services-2.jpg") no-repeat center / cover;
			}
		}
		&--danger {
			color: $color-type-2a;
			background: rgba($color-type-2a,0.2);
			&:after {
				background-color: rgba($color-type-2a,0.2);
			}
			&:hover {
				color: $white-lighten;
				background: url("../images/services-3.jpg") no-repeat center / cover;
			}
		}
		&--primary {
			color: $base-color-main;
			background: rgba($base-color-main,0.18);
			&:after {
				background-color: rgba($base-color-main,0.18);
			}
			&:hover {
				color: $black-darken;
				background: url("../images/services-4.jpg") no-repeat center / cover;
			}
		}
	}
	.project-form {
		margin-top: 20px;
	}
}
