.service {
	&-full {
		display: flex;
		padding-top: 120px;
		padding-bottom: 50px;
		color: $white-lighten;
		min-height: 900px;
		background: url('../images/service.jpg') no-repeat center / cover;
		@media screen and (min-width: $screen-md-min) {
			padding-bottom: 100px;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(-165deg, rgba(39, 40, 48, 0) 0%, rgba(39, 40, 48, 0.83) 100%);
		}
		&.h-container {
			@media screen and (min-width: $screen-lg-min) {
				min-height: 100vh;
			}
		}
		.container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			z-index: 1;
		}
		.breadcrumbs {
			text-align: right;
			li, a, li::before {
				color: rgba($white-lighten, 0.26);
			}
		}
		&_info {
			margin-top: auto;
			h1 {
				margin-top: 0;
				margin-bottom: 40px;
			}
		}
		&_price {
			padding: 20px 15px;
			color: $white-lighten;
			background-color: $base-color-main;
			@media screen and (min-width: $screen-md-min) {
				padding: 40px 30px;
			}
			@media screen and (min-width: $screen-xl-min) {
				padding: 50px 40px;
			}
			.price {
				font-size: 45px;
				font-weight: 300;
				font-family: 'TTNorms-Light';
				line-height: 1;
				margin-bottom: 15px;
				@media screen and (min-width: $screen-lg-min) {
					font-size: 60px;
				}
			}
			p {
				color: #8fb8ff;
				font-size: 23px;
				margin-bottom: 50px;
			}
		}
	}

	&-desc {
		margin-bottom: 50px;
		@media screen and (min-width: $screen-xl-min) {
			margin-bottom: 100px;
		}
		h3 {
			margin-top: 60px;
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 50px;
		}
	}

	&-list {
		border-bottom: 1px solid #e1e1e1;
		@media screen and (min-width: $screen-md-min) {
			.is-col {
				padding-left: 40px;
				padding-right: 40px;
			}
			.is-row {
				margin-left: -40px;
				margin-right: -40px;
			}
		}
		.is-row {
			counter-reset: section;
		}
		h2 {
			margin-bottom: 50px;
			@media screen and (min-width: $screen-xl-min) {
				margin-bottom: 70px;
			}
		}
		&_item {
			margin-bottom: 40px;
			@media screen and (min-width: $screen-xl-min) {
				margin-bottom: 90px;
			}
			&:before {
				counter-increment: section;
				content: counters(section, ".") ".";
				font-family: 'TTNorms-Bold';
				color: $white-lighten;
				background-color: $base-color-main;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 31px;
				border-radius: 30px;
				display: block;
				position: absolute;
			}
			h4 {
				margin-top: 0;
				padding-left: 50px;
				padding-bottom: 25px;
				border-bottom: 2px solid rgba(#1169ff, 0.23);
			}
		}
	}

	&-people {
		margin-top: 60px;
		margin-bottom: 60px;

		h2 {
			margin-bottom: 70px;
		}
		&_item {
			margin-bottom: 20px;
			@media screen and (min-width: $screen-lg-min) {
				display: flex;
				margin-bottom: 50px;
			}
			@media screen and (min-width: $screen-xl-min) {
				margin-bottom: 100px;
			}
		}
		&_round {
			width: 145px;
			height: 145px;
			border-radius: 150px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			.picon {
				font-size: 62px;
			}
			span {
				width: 49px;
				height: 49px;
				border-radius: 50px;
				color: $white-lighten;
				position: absolute;
				bottom: 0;
				right: 0;
				font-size: 28px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&-primary {
				color: $base-color-main;
				background-color: rgba($base-color-main, 0.12);
				span {
					background-color: $base-color-main;
				}
			}
			&-success {
				color: $color-type-4a;
				background-color: rgba($color-type-4a, 0.12);
				span {
					background-color: $color-type-4a;
				}
			}
			&-danger {
				color: $color-type-2a;
				background-color: rgba($color-type-2a, 0.12);
				span {
					background-color: $color-type-2a;
				}
			}
			&-warning {
				color: $color-type-3b;
				background-color: rgba($color-type-3b, 0.12);
				span {
					background-color: $color-type-3b;
				}
			}
		}
		&_desc {
			width: 100%;
			@media screen and (min-width: $screen-lg-min) {
				width: calc(100% - 200px);
				margin-left: 60px;
			}
			h4 {
				margin-top: 0;
			}
		}
		p {
			color: #9d9d9d;
		}
	}

	&-slider {
		position: relative;
		margin-bottom: 50px;
		margin-top: 50px;
		@media screen and (min-width: $screen-xl-min) {
			margin-bottom: 100px;
			margin-top: 100px;
		}
		.swiper-btn-next,
		.swiper-btn-prev {
			color: $white-lighten;
			background-color: $base-color-main;
		}
		.swiper-settings {}

		h2 {
			margin-bottom: 50px;
		}
		.swiper-slide {
			width: 90%;
			@media screen and (min-width: $screen-sm-min) {
				width: 100%;
			}
		}
	}

	&-info {
		overflow: hidden;
		@media screen and (min-width: $screen-lg-min) {
			padding-top: 70px;
		}
		.title {
			margin-bottom: 60px;
		}
		.services-catalog {
			margin-top: 80px;
			margin-bottom: 100px;
		}
		.projects-catalog {
			margin-top: 80px;
			margin-bottom: 100px;
			@media screen and (min-width: $screen-xl-min) {
				margin-top: 120px;
				margin-bottom: 170px;
			}
		}
		.prices-item {
			height: 330px;
			margin-bottom: 30px;
		}
	}

	&-slide {
		position: relative;
		.relative {
			display: inline-block;
		}
		.video {
			position: absolute;
			width: 60px;
			height: 60px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			@media screen and (min-width: $screen-md-min) {
				width: 101px;
				height: 101px;
			}
		}
	}

}


.services-catalog {
	@media screen and (min-width: $screen-xl-min) {
		.is-col {
			padding-left: 30px;
			padding-right: 30px;
		}
		.is-row {
			margin-left: -30px;
			margin-right: -30px;
		}
	}
}
