.typicalPage {
	padding: 40px 0;
	@media screen and (min-width: $screen-md-min) {
		padding: 100px 0;
	}
	&-back {
		display: flex;
		justify-content: stretch;
		padding-top: 60px;
		padding-bottom: 60px;
		color: $white-lighten;
		position: relative;
		background: url('../images/typical-back.jpg') no-repeat center / cover;
		@media screen and (min-width: $screen-md-min) {
			padding-top: 120px;
			padding-bottom: 140px;
		}
		.container {
			display: flex;
			flex-direction: column;
		}
		.title {
			justify-content: flex-end;
		}
		.breadcrumbs {
			li, a, li::before {
				color: rgba($white-lighten, 0.5);
			}
		}
		.social {
			padding: 40px;
			position: absolute;
			bottom: -40px;
			right: 0;
			color: $white-lighten;
			margin-bottom: 0;
			background-color: $color-type-3b;
			display: none;
			a {
				color: $white-lighten;
			}
			@media screen and (min-width: $screen-md-min) {
				display: block;
			}
		}
	}
	&-img {
		padding-bottom: 40px;
		@media screen and (min-width: $screen-md-min) {
			padding-bottom: 100px;
		}
		.image {
			img {
				width: 100%;
				text-align: center;
			}
		}
	}
	&-blog {
		padding-top: 30px;
		border-top: 1px solid #dedede;
		@media screen and (min-width: $screen-md-min) {
			padding-top: 70px;
			padding-bottom: 100px;
		}
		h2 {
			margin-bottom: 50px;
		}
		.blogPage-item {
			margin-bottom: 20px;
		}
	}
	&-sign {
		margin-top: 30px;
		margin-bottom: 60px;
		font-style: italic;
		color: rgba($black-darken, 0.65);
	}
	&-txt {
		@extend .is-col__xl-8;
		@extend .is-col__lg-9;
		@media screen and (min-width: $screen-lg-min) {
			padding-left: 200px;
		}
		h2 {
			font-family: 'TTNorms-Light';
			font-weight: 300;
			margin-bottom: 40px;
		}
	}
	&-date {
		margin-top: 40px;
		margin-bottom: 30px;
		font-size: 16px;
		color: rgba($black-darken, 0.5);
		@media screen and (min-width: $screen-md-min) {
			margin-top: 100px;
			margin-bottom: 70px;
		}
	}
}

.typical {
	p {
		margin-bottom: 20px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 40px;
		}
	}
	.table {
		margin-top: 30px;
		margin-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 80px;
			margin-bottom: 80px;
		}
	}
	blockquote {
		margin-top: 30px;
		margin-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 60px;
			margin-bottom: 60px;
		}
	}
}
