.vacanciesPage {
	h5 {
		margin-top: 0;
	}
	&-item {
		padding-bottom: 70px;
		margin-bottom: 60px;
		border-bottom: 1px solid #dedede;
		@media screen and (min-width: $screen-xl-min) {
			padding-right: 10%;
		}
		h3 {
			margin-top: 0;
			margin-bottom: 40px;
			font-family: 'TTNorms-Light';
			a {
				color: $black;
				&:hover {
					color: $base-color-main;
				}
			}
		}
		.list--inline {
			margin-top: 50px;
			li + li {
				@media screen and (min-width: $screen-md-min) {
					margin-left: 40px;
				}
			}
		}
		@media screen and (max-width: $screen-sm-max) {
			li {
				display: block;
				margin-bottom: 10px;
			}
			.btn, .button {
				width: 100%;
				display: flex;
			}
		}
	}
	.form-question {
		padding: 15px;
		margin-bottom: 70px;
		color: $white-lighten;
		background-color: $color-type-3a;
		@media screen and (min-width: $screen-md-min) {
			padding: 30px;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding: 45px;
		}
		h3 {
			margin-top: 0;
			font-size: 40px;
			font-family: 'TTNorms-Bold';
			margin-bottom: 50px;
			span {
				display: block;
				font-family: 'TTNorms-Regular';
			}
		}
		h4 {
			font-family: 'TTNorms-Medium';
			font-weight: 500;
			margin-bottom: 40px;
		}
	}
}
