.videoPage {
	&-link {
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
		border-top: 1px solid #d9d9d9;
		@media screen and (min-width: $screen-md-min) {
			padding-bottom: 100px;
		}
	}
	.grid-item--full {
		height: auto;
		@media screen and (min-width: $screen-md-min) {
			width: 97%;
		}
	}
	&-item {
		position: relative;
	}
	.gutter-sizer {
		width: 0;
	}
	.videoButton {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
}

.videoYoutube {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	background-color: #000000;
	@media screen and (min-width: $screen-sm-min) {
		padding-bottom: 66.25%;
	}
	@media screen and (min-width: $screen-md-min) {
		padding-bottom: 94.25%;
	}
	@media screen and (min-width: $screen-lg-min) {
		padding-bottom: 66.25%;
	}
	@media screen and (min-width: $screen-xl-min) {
		padding-bottom: 56.25%;
	}
	.video__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.video__media {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
		object-fit: cover;
	}
	.video__button {
		color: $white-lighten;
		position: absolute;
		bottom: 40px;
		left: 30px;
		right: 30px;
		z-index: 1;
		display: none;
		cursor: pointer;
		@media screen and (max-width: $screen-sm-max) {
			height: 55px;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			margin: auto;
		}
		@media screen and (min-width: $screen-xl-min) {
			bottom: 60px;
			left: 75px;
			right: 75px;
		}
		img {
			width: 55px;
			@media screen and (min-width: $screen-md-min) {
				width: 101px;
			}
			@media screen and (min-width: $screen-xl-min) {
				margin-bottom: 60px;
			}
		}
		p {
			margin-bottom: 0;
		}
		.videoIcon {
			text-align: center;
			.hover {
				display: none;
			}
		}
	}
	&:hover {
		.videoIcon .hover {
			display: block;
		}
		.videoIcon > img {
			display: none;
		}
	}
	&.video--enabled {
		cursor: pointer;
	}
	&.video--enabled .video__button {
		display: block;
	}
}
