footer.page-footer
	.page-footer-top
		.container
			.visible__xs.visible__sm
				a.main-footer--js(href='#'): img(src="images/menu.svg", alt="")
			+menu(footermenu)
	.page-footer-bottom
		.container
			.is-row.between__xs.middle__xs
				.is-col.is-col__md-4.is-col__xs-12
					.page-footer__mail
						span.icon-email
						a(href='mailto:sale@oxrapro.ru') sale@oxrapro.ru
					.page-footer__adr г. Санкт-Петербург, ул. Вербная д. 27, лит А, оф. 825
				.is-col.is-col__lg-2.is-col__md-4.is-col__xs-12.text--center
					ul.list--inline.social
						li: a(href="#"): span.icon-vk
						li: a(href="#"): span.icon-facebook
						li: a(href="#"): span.icon-instagram
				.is-col.is-col__xl-5.is-col__lg-6.is-col__md-4.is-col__xs-12.text__lg--right.hidden__xs.hidden__sm
					ul.list--inline
						li.button
							a.btn.btn--primary.popup-modal(href='#callme') Позвонить нам
							.btn--shadow.btn--black
						li.button
							a.btn.btn--info.popup-modal(href='#auth')
								span.icon-profile_round
								span Войти
							.btn--shadow.btn--white
			.is-row.between__xs.middle__xs.page-footer-txt
				.is-col.copy.hidden__xs.hidden__sm
					a(href='#') Пользовательское соглашение
					.page-footer__copy ОхраПро 2013-2018 © Все права защищены
				.is-col.app
					a(href="#"): img(src='images/app-1.png', alt='')
					a(href="#"): img(src='images/app-2.png', alt='')
				.is-col
					.page-footer__link
						span Разработано в
						a(href="#"): img(src='images/cm-logo.png', alt='')
					.visible__sm.visible__xs
						.page-footer__copy ОхраПро 2013-2018 © #[br] Все права защищены
