header.page-header
	include ../components/_mobilenav
	.container
		.page-header-inner
			.page-header__logo-m
				a(href="/")
			.page-header__menu
				a.main-nav--js(href='#')
			.page-header__logo
				a(href="/")
			include ../components/_navbar
			.line
			a.page-header__email.popup-modal(href='#callme')
				i.icon-email
			.line
			a.page-header__mail.hidden__xs.hidden__sm(href='mailto:sale@oxrapro.ru')
				span sale@oxrapro.ru
			a.page-header__call(href='tel:88003339887')
				i.icon-call
				span 8 800 333 98 87
			.line
			a.popup-modal.page-header__login(href='#auth')
				i.icon-profile_round
				span Войти
