$icons: (
	sprite: (width: 2073px, height: 93px, svgPath: '../images/svg/sprite.svg'),
 	e-payments: (width: 106px, height: 23px, backgroundX: 0px, backgroundY: 0px),
 	e-payments-b: (width: 258px, height: 62px, backgroundX: -126px, backgroundY: 0px),
 	mastercard: (width: 135px, height: 23px, backgroundX: -404px, backgroundY: 0px),
 	mastercard-b: (width: 351px, height: 62px, backgroundX: -559px, backgroundY: 0px),
 	next: (width: 90px, height: 73px, backgroundX: -930px, backgroundY: 0px),
 	prev: (width: 90px, height: 73px, backgroundX: -1040px, backgroundY: 0px),
 	qiwi: (width: 71px, height: 26px, backgroundX: -1150px, backgroundY: 0px),
 	qiwi-b: (width: 139px, height: 62px, backgroundX: -1241px, backgroundY: 0px),
 	visa: (width: 51px, height: 16px, backgroundX: -1400px, backgroundY: 0px),
 	visa-b: (width: 167px, height: 54px, backgroundX: -1471px, backgroundY: 0px),
 	ya-dengi: (width: 123px, height: 24px, backgroundX: -1658px, backgroundY: 0px),
 	ya-dengi-b: (width: 252px, height: 49px, backgroundX: -1801px, backgroundY: 0px),
);
