main
	section.aboutPage
		.container.relative
			.hidden__sm.hidden__xs.pulled-right
				include ../components/_breadcrumbs
			.title(data-aos="fade-up")
				.is-col__lg-6.is-col__xs-12
					h1 Мы открытая и технологичная компания
			.is-col__lg-5.is-col__xs-12(data-aos="fade-up")
				p Свою открытость и технологичность, компания транслирует через собственные разработки. Мобильное приложение, которое позволяет клиентам учебного центра быстрее осваивать материал.
				p Процесс обучения геймефицирован, что существенно сказывается на вовлеченности и на скорости усвоения учебных материалов.
				p Компания разработала личный кабинет, который позволяет клиенту следить за ходом дел в компании. Помимо этого, в штате «ОхраПро» работает большое количество высококлассных специалистов, которые напрямую способствуют высокому качеству оказания услуг.
				.aboutPageLink История компании
			.aboutPage-directions
				.is-col__xl-7.is-col__lg-9.is-col__xs-12.centered-block
					.is-row.between__xs
						.is-col.is-col__lg-4.is-col__md-5.is-col__xs-12
							.aboutPage-directions__num 4
						.is-col.is-col__lg-7.is-col__md-7.is-col__xs-12
							h2 основных направления компании
							.element(data-aos="fade-left")
								.element-left.element-left--success
									span.icon-icon-1
								.element-right
									h5 Экология
									p Свою открытость и технологичность, компания транслирует через собственные разработки. Мобильное приложение, которое позволяет.
							.element(data-aos="fade-left")
								.element-left.element-left--primary
									span.icon-icon-2
								.element-right
									h5 Охрана труда
									p Свою открытость и технологичность, компания транслирует через собственные разработки. Мобильное приложение, которое позволяет.
							.element(data-aos="fade-left")
								.element-left.element-left--warning
									span.icon-icon-3
								.element-right
									h5 Учебный центр
									p Свою открытость и технологичность, компания транслирует через собственные разработки. Мобильное приложение, которое позволяет.
							.element(data-aos="fade-left")
								.element-left.element-left--danger
									span.icon-icon-4
								.element-right
									h5 Пожарная безопасность
									p Свою открытость и технологичность, компания транслирует через собственные разработки. Мобильное приложение, которое позволяет.
									.aboutPageLink История компании
			.aboutPage-license.is-row
				.aboutGrid.is-col.is-col__xl-8.is-col__xs-12
					.aboutPage-license__desc(data-aos="fade-left")
						h2 Имеем все необходимые лицензии и документы
						ul.list--inline
							li: a.aboutPageLink(href='#') Документация
							li |
							li: a.aboutPageLink(href='#') Сертификаты
					.aboutPage-license__img(data-aos="fade-down", data-aos-delay="300"): img(src='images/lic-1.jpg', alt='')
					.aboutPage-license__img(data-aos="fade-down", data-aos-delay="500"): img(src='images/lic-3.jpg', alt='')
					.aboutPage-license__img(data-aos="fade-down", data-aos-delay="700"): img(src='images/lic-4.jpg', alt='')
					.aboutPage-license__img(data-aos="fade-down", data-aos-delay="900"): img(src='images/lic-5.jpg', alt='')
				.aboutGrid.is-col.is-col__lg-4.aboutGrid--xl
					.aboutPage-license__img(data-aos="fade-down", data-aos-delay="300"): img(src='images/lic-2.jpg', alt='')
					.aboutPage-license__img(data-aos="fade-down", data-aos-delay="500"): img(src='images/lic-6.jpg', alt='')
			.aboutPage-projects
				.aboutPage-projects__num(data-aos="fade-left")
					span 200<
					h2 и более #[br] реализованных #[br] проектов
					a.btn.btn--dark(href='#') Все проекты
				.is-row.between__xs
					.is-col(data-aos="fade-down", data-aos-delay="300")
						.aboutPage-projects__img: img(src='images/grey-1.png', alt='')
					.is-col(data-aos="fade-down", data-aos-delay="500")
						.aboutPage-projects__img: img(src='images/grey-2.png', alt='')
					.is-col(data-aos="fade-down", data-aos-delay="700")
						.aboutPage-projects__img: img(src='images/grey-1.png', alt='')
					.is-col(data-aos="fade-down", data-aos-delay="900")
						.aboutPage-projects__img: img(src='images/grey-2.png', alt='')
			.aboutPage-clients
				.is-col__xl-5.is-col__lg-6.is-col__xs-12(data-aos="fade-left")
					h2 Оказываем самые качественные услуги на рынке
					p Свою открытость и технологичность, компания транслирует через собственные разработки. Мобильное приложение, которое позволяет клиентам учебного центра быстрее осваивать материал. Процесс обучения геймефицирован, что существенно сказывается на вовлеченности и на скорости усвоения учебных материалов.
					p Компания разработала личный кабинет, который позволяет клиенту следить за ходом дел в компании. омпании. Помимо этого, в штате «ОхраПро» работает большое количество высококлассных специалистов, которые напрямую способствуют высокому качеству оказания услуг.
					.button
						a.btn.btn--primary(href='#') Скачать презентацию
						.btn--shadow.btn--black
				svg.maps-svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1030 783")
					image(width='1030' height='783' x="0" y="0" xlink:href="images/map-line.png")
					path(fill='#fb5820' d="M189.54,300.94a5.46,5.46,0,1,1-4.17,6.5,5.45,5.45,0,0,1,4.17-6.5Z")
					path(fill='#fb5820' d="M202.24,423.91a6.63,6.63,0,0,1,3,12.92l-.18,0a6.63,6.63,0,0,1-2.84-13Z")
					path(fill='#fb5820' d="M131.75,588.85a5.46,5.46,0,0,1,2.51,10.62l-.18,0a5.46,5.46,0,0,1-2.33-10.66Z")
					path(fill='#fb5820' d="M120.8,650.15a5.46,5.46,0,0,1,2.5,10.63l-.16,0a5.46,5.46,0,0,1-2.34-10.66Z")
					path(fill='#fb5820' d="M462.52,522.47a5.46,5.46,0,1,1-4.13,6.45,5.46,5.46,0,0,1,4.13-6.45Z")
					path(fill='#fb5820' d="M522.5,545.89a5.46,5.46,0,1,1-4.16,6.5,5.46,5.46,0,0,1,4.16-6.5Z")
					path(fill='#fb5820' d="M708.15,609.83a5.46,5.46,0,0,1,2.49,10.63l-.15,0a5.46,5.46,0,0,1-2.34-10.66Z")
			.aboutPage-worker
				.service-slider
					h2 Жизнь внутри
					.swiper-about
						.swiper-wrapper
							- for (var x = 1; x < 5; x++)
								.swiper-slide(data-aos="fade-left"): img(src='images/workers-1.jpg', alt='')
						.swiper-settings.hidden__xs.hidden__sm
							a.btn.btn--dark(href='#') Сотрудники
							.swiper-btn
								.swiper-btn-prev-p.swiper-btn-prev: span.icon-angle-left
								.swiper-btn-next-p.swiper-btn-next: span.icon-angle-right
					.visible__sm.visible__xs: a.btn.btn--dark.btn--full(href='#') Сотрудники
			.aboutPage-history.about-tabs
				h2 История компании
				.tabs-inner.relative
					ul.tabs__caption
						li.active(data-tab='tab1') 1995
						li(data-tab='tab2') 2000
						li(data-tab='tab3') 2004
						li(data-tab='tab4') 2007
						li(data-tab='tab5') 2010
						li(data-tab='tab6') 2015
						li(data-tab='tab7') 2018
					.line
				#tab1.tabs__content.active
					.is-row.between__xs
						- for (var x = 3; x < 12; x++)
							.is-col.is-col__md-6.is-col__xs-12(data-aos="fade-up", data-aos-delay=x+"00")
								.item
									p.text__lg.text--warning 20 февраля
									p Два американца — братья Чарльз и Джордж Пейдж — основали «Англо-швейцарскую компанию по производству сгущённого молока». Используя свежее молоко.
				- for (var y = 2; y < 8; y++)
					.tabs__content(id='tab'+y)
						.is-row.between__xs
							- for (var x = 3; x < 7; x++)
								.is-col.is-col__md-6.is-col__xs-12(data-aos="fade-up", data-aos-delay=x+"00")
									.item
										p.text__lg.text--warning 20 февраля
										p Два американца — братья Чарльз и Джордж Пейдж — основали «Англо-швейцарскую компанию по производству сгущённого молока». Используя свежее молоко.
			.aboutPage-contacts
				.title(data-aos="fade-up")
					h2 Мы в постоянном поиске новых специалистов!
					.aboutPage-contacts__ava
						.ava: img(src='images/ava.png', alt='')
						.information
							.name Иван Петров
							.desc Менеджер отдела кадров
				a.aboutPageLink(href='#') Все вакансии
				a.aboutPage-contacts__email(href='mailto:work@oxrapro.ru', data-aos="zoom-in") work@oxrapro.ru
