main
	section.blogPage
		.container
			.title
				h1= title
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.is-row
				.is-col.is-col__lg-4.is-col__md-4.is-col__xs-12
					ul.aside-nav#filters.blogPage-nav
						li.active(data-filter='*') Все
							span 28
						li(data-filter='.defence') Условия заказа
							span 9
						li(data-filter='.fire') Доставка
							span 6
						li(data-filter='.eco') Контроль качества
							span 3
						li(data-filter='.study') Забота об окружающей среде
							span 1
					.project-form.hidden__sm.hidden__xs
						h3 Подпишитесь на рассылку
						form(action='', method='POST')
							.form__group
								+fieldInput('text', 'name', 'name', '', 'Ваше имя', false, false)
							.form__group
								+fieldInput('text', 'phone', 'phone', '', 'Ваш телефон', false, false)
							.form__group
								.checkbox
									input(type="checkbox", id='agr' checked)
									label(for='agr')
									.label Даю согласие на #[a(href='#') обработку персональных данных]
							button.btn.btn--warning(type='submit') Отправить
				.is-col.is-col__lg-8.is-col__md-8.is-col__xs-12.grid
					.grid-sizer
					.gutter-sizer
					.grid-item.blogPage-item(class='defence')
						div(data-aos="fade-down", data-aos-delay="300")
							a.blogPage-item_desc(href='#')
								.tag.tag--warning Компания
								.title Посещение детской школы творчества
								.date 27 декабря 2018
							.blogPage-item_img: img(src='images/blog-1.jpg', alt='')
					.grid-item.blogPage-item(class='fire')
						div(data-aos="fade-down", data-aos-delay="500")
							a.blogPage-item_desc(href='#')
								.tag.tag--warning Охрана труда
								.title Новый образовательный партнер Henkeu
								.date 27 декабря 2018
							.blogPage-item_img: img(src='images/blog-2.jpg', alt='')
					.grid-item.blogPage-item(class='eco')
						div(data-aos="fade-down", data-aos-delay="700")
							a.blogPage-item_desc(href='#')
								.tag.tag--warning Охрана труда
								.title Участие наших сотрудников в PCVExpo
								.date 27 декабря 2018
							.blogPage-item_img: img(src='images/blog-3.jpg', alt='')
					.grid-item.blogPage-item.blogPage-item--primary(class='eco')
						div(data-aos="fade-down", data-aos-delay="900")
							a.blogPage-item_desc(href='#')
								.tag.tag--primary Компания
								.title Тимофей Квачев, TRINET.GROUP: «Единственный мотиватор – это вызов. Смогу ли я? Да, смогу»
								.date 27 декабря 2018
					.grid-item.blogPage-item.blogPage-item--primary(class='study')
						div(data-aos="fade-down", data-aos-delay="300")
							a.blogPage-item_desc(href='#')
								.tag.tag--primary Пожарная безопасность
								.title 5 причин, почему онлайн-консультант убьет весь ваш маркетинг
								.date 27 декабря 2018
					.grid-item.blogPage-item(class='defence')
						div(data-aos="fade-down", data-aos-delay="500")
							a.blogPage-item_desc(href='#')
								.tag.tag--warning Охрана труда
								.title Новый образовательный партнер Henkeu
								.date 27 декабря 2018
							.blogPage-item_img: img(src='images/blog-2.jpg', alt='')
					.grid-item.blogPage-item.hidden-content(class='defence')
						div(data-aos="fade-down", data-aos-delay="700")
							a.blogPage-item_desc(href='#')
								.tag.tag--warning Охрана труда
								.title Новый образовательный партнер Henkeu
								.date 27 декабря 2018
							.blogPage-item_img: img(src='images/blog-2.jpg', alt='')
			.videoPage-link
				a.linkIcon.showmore--js(href="#")
					span.icon-arrow_repeat
					span Показать еще
			.visible__xs.visible__sm.project-form
				h3 Подпишитесь на рассылку
				form(action='', method='POST')
					.form__group
						+fieldInput('text', 'name', 'name', '', 'Ваше имя', '', false)
					.form__group
						+fieldInput('text', 'phone', 'phone', '', 'Ваш телефон', '', false)
					.form__group
						.checkbox
							input(type="checkbox", id='agr0' checked)
							label(for='agr0')
							.label Даю согласие на #[a(href='#') обработку персональных данных]
					button.btn.btn--warning(type='submit') Отправить
