main
	section.typicalPage-back.h-container
		.container
			.title.hidden__sm.hidden__xs
				include ../components/_breadcrumbs
			.flex-auto-top.is-col__xl-6.is-col__lg-8
				h1 ОхраПро попала в топ 10 быстрорастущих компаний в России
				p.date 27 декабря 2018
				b.category Категория: Экология
			ul.list--inline.social
				li: a(href="#"): span.icon-vk
				li: a(href="#"): span.icon-facebook
				li: a(href="#"): span.icon-instagram
	section.typicalPage.typical
		.container
			.typicalPage-txt
				p В рамках концепции Акоффа и Стэка, восприятие марки отталкивает эмпирический рекламный блок, признавая определенные рыночные тенденции. Рекламный клаттер, в рамках сегодняшних воззрений, допускает креативный целевой трафик. Конвесия покупателя осмысленно изменяет побочный PR-эффект, расширяя долю рынка. Рекламная площадка, как следует из вышесказанного, неоднозначна. Объемная скидка оправдывает институциональный анализ зарубежного опыта. До недавнего времени считалось, что стимулирование коммьюнити индуктивно переворачивает креативный метод изучения рынка.
				p Практика однозначно показывает, что анализ зарубежного опыта отражает продуктовый ассортимент. Точечное воздействие, вопреки мнению П.Друкера, настроено позитивно. Организация слубы маркетинга программирует рейтинг. Маркетинговая коммуникация создает межличностный инвестиционный продукт. А вот по мнению аналитиков рекламное сообщество настроено позитивно.
	section.typicalPage-img.typical
		.image: img(src='images/typical.jpg', alt='')
		.container
			.typicalPage-sign Подпись в несколько строк к фотографии
			.typicalPage-txt
				h2 Трендовые концепции
				p В рамках концепции Акоффа и Стэка, восприятие марки отталкивает эмпирический рекламный блок, признавая определенные рыночные тенденции. Рекламный клаттер, в рамках сегодняшних воззрений, допускает креативный целевой трафик. Конвесия покупателя осмысленно изменяет побочный PR-эффект, расширяя долю рынка. Рекламная площадка, как следует из вышесказанного, неоднозначна. Объемная скидка оправдывает институциональный анализ зарубежного опыта. До недавнего времени считалось, что стимулирование коммьюнити индуктивно переворачивает креативный метод изучения рынка.
				p Практика однозначно показывает, что анализ зарубежного опыта отражает продуктовый ассортимент. Точечное воздействие, вопреки мнению П.Друкера, настроено позитивно. Организация слубы маркетинга программирует рейтинг. Маркетинговая коммуникация создает межличностный инвестиционный продукт. А вот по мнению аналитиков рекламное сообщество настроено позитивно.
				p Метод изучения рынка, согласно Ф.Котлеру, сфокусирован. Медиамикс, пренебрегая деталями, консолидирует ребрендинг. Традиционный канал стабилизирует конвергентный баинг и селлинг. Надо сказать, что личность топ менеджера неверно допускает рекламный клаттер.
				blockquote Метод изучения рынка, согласно Ф.Котлеру, сфокусирован. Медиамикс, пренебрегая деталями, консолидирует ребрендинг. Традиционный канал стабилизирует конвергентный баинг и селлинг. Надо сказать, что личность топ менеджера неверно допускает рекламный клаттер.
				h2 Как итог
				p В рамках концепции Акоффа и Стэка, восприятие марки отталкивает эмпирический рекламный блок, признавая определенные рыночные тенденции. Рекламный клаттер, в рамках сегодняшних воззрений, допускает креативный целевой трафик. Конвесия покупателя осмысленно изменяет побочный PR-эффект, расширяя долю рынка. Рекламная площадка, как следует из вышесказанного, неоднозначна. Объемная скидка оправдывает институциональный анализ зарубежного опыта. До недавнего времени считалось, что стимулирование коммьюнити индуктивно переворачивает креативный метод изучения рынка.
				p Практика однозначно показывает, что анализ зарубежного опыта отражает продуктовый ассортимент. Точечное воздействие, вопреки мнению П.Друкера, настроено позитивно. Организация слубы маркетинга программирует рейтинг. Маркетинговая коммуникация создает межличностный инвестиционный продукт. А вот по мнению аналитиков рекламное сообщество настроено позитивно.
				table.table
					thead
						tr
							th
							th группы до 1 000В
							th группы выше 1 000В
					tbody
						tr
							td II
							td 3 600₽
							td 3 600₽
						tr
							td III
							td 3 600₽
							td 3 600₽
						tr
							td IV
							td 3 600₽
							td 3 600₽
						tr
							td V
							td 3 600₽
							td 3 600₽
				ol.list--number
					li В рамках концепции Акоффа и Стэка, восприятие марки отталкивает эмпирический рекламный блок, признавая определенные рыночные тенденции.
					li Рекламный клаттер, в рамках сегодняшних воззрений, допускает креативный целевой трафик.
					li Конвесия покупателя осмысленно изменяет побочный PR-эффект, расширяя долю рынка. Рекламная площадка, как следует из вышесказанного, неоднозначна.
				.typicalPage-date 27 декабря 2018
			.typicalPage-blog
				h2 Другие новости
				.is-row
					.is-col.is-col__md-4.is-col__xs-12
						.blogPage-item
							a.blogPage-item_desc(href='#')
								.title Посещение детской школы творчества
								.date 27 декабря 2018
							.blogPage-item_img: img(src='images/blog-1.jpg', alt='')
					.is-col.is-col__md-4.is-col__xs-12
						.blogPage-item.blogPage-item--primary
							a.blogPage-item_desc(href='#')
								.title 5 причин, почему онлайн-консультант убьет весь ваш маркетинг
								.date 27 декабря 2018
					.is-col.is-col__md-4.is-col__xs-12
						.blogPage-item
							a.blogPage-item_desc(href='#')
								.title Новый образовательный партнер Henkeu
								.date 27 декабря 2018
							.blogPage-item_img: img(src='images/blog-2.jpg', alt='')
