main
	section.clientsPage.relative
		.container
			.title
				h1 Наши клиенты
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.clientsPage-desc.is-col__xl-5.is-col__md-6.is-col__xs-12
				p «ОхраПро» – это открытая и технологичная компания. Свою открытость и технологичность, компания транслирует через собственные разработки. Мобильное приложение, которое позволяет клиентам учебного центра быстрее осваивать материал. Процесс обучения геймефицирован, что существенно сказывается на вовлеченности и на скорости усвоения учебных материалов.
				p Компания разработала личный кабинет, который позволяет клиенту следить за ходом дел в компании. Помимо этого, в штате «ОхраПро» работает большое количество высококлассных специалистов, которые напрямую способствуют высокому качеству оказания услуг.
				.clientsPage-btn
					.button
						a.btn.btn--primary(href='#') Отзывы
						.btn--shadow.btn--black
					a.btn.btn--blue(href='#') О компании
			svg.maps-svg(viewBox="0 0 1600 977" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
				g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
					image(width='1600' height='977' x="0" y="0" xlink:href="images/map.png")
					path(id="9m43a" d="M206.545,434.51 C208.609995,434.264559 210.649071,435.139423 211.894127,436.805041 C213.139183,438.470658 213.401066,440.673982 212.581127,442.585041 C211.761188,444.4961 209.983995,445.824559 207.919,446.07 C204.726794,446.44942 201.83142,444.169206 201.452,440.977 C201.072581,437.784794 203.352794,434.88942 206.545,434.51 L206.545,434.51 Z")
					path(id="9m43b" d="M207.45,567.615 C210.642206,567.23558 213.537581,569.515794 213.917,572.708 C214.29642,575.900206 212.016206,578.79558 208.824,579.175 C205.631794,579.55442 202.73642,577.274206 202.357,574.082 C201.977581,570.889794 204.257794,567.99442 207.45,567.615 L207.45,567.615 Z")
					path(id="9m43c" d="M115.351,734.158 C117.415995,733.912559 119.455071,734.787423 120.700127,736.453041 C121.945183,738.118658 122.207066,740.321982 121.387127,742.233041 C120.567188,744.1441 118.789995,745.472559 116.725,745.718 C113.532794,746.09742 110.63742,743.817206 110.258,740.625 C109.878581,737.432794 112.158794,734.53742 115.351,734.158 L115.351,734.158 Z")
					path(id="9m43d" d="M97.377,798.106 C99.4418168,797.860736 101.480633,798.735671 102.725445,800.401223 C103.970258,802.066775 104.23195,804.269909 103.411945,806.180724 C102.591941,808.091539 100.814817,809.419738 98.75,809.665 C95.557795,810.044142 92.662646,807.763704 92.2835026,804.5715 C91.9043593,801.379295 94.1847953,798.484145 97.377,798.105 L97.377,798.106 Z")
					path(id="9m43e" d="M473.39,697.985 C476.581929,697.605857 479.476856,699.88607 479.856,703.078 C480.235143,706.26993 477.954929,709.164857 474.763,709.544 C471.570794,709.923143 468.675643,707.642706 468.2965,704.4505 C467.917356,701.258294 470.197794,698.363143 473.39,697.984 L473.39,697.985 Z")
					path(id="9m43f" d="M534.633,729.069 C536.697995,728.823379 538.737167,729.698079 539.982378,731.363607 C541.227589,733.029135 541.489662,735.232459 540.669878,737.143608 C539.850093,739.054756 538.072995,740.38338 536.008,740.629 C533.943005,740.87462 531.903834,739.999921 530.658623,738.334392 C529.413412,736.668864 529.151338,734.465541 529.971123,732.554392 C530.790907,730.643244 532.568005,729.31462 534.633,729.069 Z")
					path(id="9m43g" d="M725.095,816.192 C728.287206,815.81258 731.182581,818.092794 731.562,821.285 C731.94142,824.477206 729.661206,827.37258 726.469,827.752 C723.276794,828.13142 720.38142,825.851206 720.002,822.659 C719.622581,819.466794 721.902794,816.57142 725.095,816.192 L725.095,816.192 Z")
			.clientsPage-inner.clients.is-row
				.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
					.clientsPage-item
						.client-img: img(src='images/client-1.jpg', alt='')
						h5: a(href='#') Юлмарт
						p.text__lg Сеть магазинов
				.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
					.clientsPage-item
						.client-img: img(src='images/client-2.jpg', alt='')
						h5: a(href='#') Русские самоцветы
						p.text__lg Сеть магазинов
				.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
					.clientsPage-item
						.client-img: img(src='images/client-3.jpg', alt='')
						h5: a(href='#') Кассир.ру
						p.text__lg Онлайн сервис
				.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
					.clientsPage-item
						.client-img: img(src='images/client-4.jpg', alt='')
						h5: a(href='#') Хеликс
						p.text__lg Лаборатория
				.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
					.clientsPage-item
						.client-img: img(src='images/client-5.jpg', alt='')
						h5: a(href='#') Редмонд
						p.text__lg Компания
				.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
					.clientsPage-item
						.client-img: img(src='images/client-6.jpg', alt='')
						h5: a(href='#') Планета Инструмент
						p.text__lg Интернет-магазин
				.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12.hidden-content
					.clientsPage-item
						.client-img: img(src='images/client-6.jpg', alt='')
						h5: a(href='#') Планета Инструмент
						p.text__lg Интернет-магазин
				.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12.hidden-content
					.clientsPage-item
						.client-img: img(src='images/client-6.jpg', alt='')
						h5: a(href='#') Планета Инструмент
						p.text__lg Интернет-магазин
			.clientsPage-link
				a.linkIcon.showmore--js(href="#")
					span.icon-arrow_repeat
					span Показать еще
