main
	section.contactsPage
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoOHU9S0Ohhctt2VS6Qu3JrmaIjqFQNYk&callback=initMap", defer)
		.container
			.title
				h1 Контактная #[br] информация
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.is-row.stretch__xs.between__xs
				.is-col.is-col__xl-5.is-col__lg-5.is-col__xs-12.contactsPage-left
					h3 Центральный офис
					b.text__lg Санкт-Петербург
					p.text__lg ул. Вербная д. 27, лит А, оф. 825
					p.text__lg.text--grey Пн-Пт 9:00-18:00
					.contacts
						a.contacts-item(href='tel:78003339887')
							span.icon-fax
							span +7 (800) 333 98 87
						a.contacts-item(href='mailto:sale@oxrapro.ru')
							span.icon-envelope
							span sale@oxrapro.ru
					#map
				.is-col.is-col__xl-6.is-col__lg-7.is-col__xs-12.address-list
					.objects-body__item.address-list__item.is-row#object1(data-adr='59.91701049, 30.31812429')
						.is-col.is-col__md-6.is-col__xs-12
							b.text__lg Москва
							p пр. Андропова, д. 26 оф. 103
							p Пн-Пт 9:00-18:00
						.is-col.is-col__md-6.is-col__xs-12.text__md--right
							.text__xl +7 (499) 350 43 18
							.text__xl sale@oxrapro.ru
						.visible__sm.visible__xs.is-col__xs-12
							.map
								iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11294.033527615416!2d30.32602098834826!3d59.97325958726285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slv!4v1551609965417" height="330" frameborder="0" style="border:0;width:100%" allowfullscreen)
							a.btn.btn--default.btn--full.showBtn--js(href='#') Смотреть на карте
					.objects-body__item.address-list__item.is-row#object2(data-adr='59.91756978, 30.31812429')
						.is-col.is-col__md-6.is-col__xs-12
							b.text__lg Екатеринбург
							p пр. Андропова, д. 26 оф. 103
							p Пн-Пт 9:00-18:00
						.is-col.is-col__md-6.is-col__xs-12.text__md--right
							.text__xl +7 (499) 350 43 18
							.text__xl sale@oxrapro.ru
						.visible__sm.visible__xs.is-col__xs-12
							.map
								iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11294.033527615416!2d30.32602098834826!3d59.97325958726285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slv!4v1551609965417" height="330" frameborder="0" style="border:0;width:100%" allowfullscreen)
							a.btn.btn--default.btn--full.showBtn--js(href='#') Смотреть на карте
					.objects-body__item.address-list__item.is-row#object3(data-adr='59.92049517, 30.33250093')
						.is-col.is-col__md-6.is-col__xs-12
							b.text__lg Казань
							p пр. Андропова, д. 26 оф. 103
							p Пн-Пт 9:00-18:00
						.is-col.is-col__md-6.is-col__xs-12.text__md--right
							.text__xl +7 (499) 350 43 18
							.text__xl sale@oxrapro.ru
						.visible__sm.visible__xs.is-col__xs-12
							.map
								iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11294.033527615416!2d30.32602098834826!3d59.97325958726285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slv!4v1551609965417" height="330" frameborder="0" style="border:0;width:100%" allowfullscreen)
							a.btn.btn--default.btn--full.showBtn--js(href='#') Смотреть на карте
					.objects-body__item.address-list__item.is-row#object4(data-adr='59.91701049, 30.3276515')
						.is-col.is-col__md-6.is-col__xs-12
							b.text__lg Мурманск
							p пр. Андропова, д. 26 оф. 103
							p Пн-Пт 9:00-18:00
						.is-col.is-col__md-6.is-col__xs-12.text__md--right
							.text__xl +7 (499) 350 43 18
							.text__xl sale@oxrapro.ru
						.visible__sm.visible__xs.is-col__xs-12
							.map
								iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11294.033527615416!2d30.32602098834826!3d59.97325958726285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slv!4v1551609965417" height="330" frameborder="0" style="border:0;width:100%" allowfullscreen)
							a.btn.btn--default.btn--full.showBtn--js(href='#') Смотреть на карте
					.objects-body__item.address-list__item.is-row#object5(data-adr='59.91916157, 30.3251195')
						.is-col.is-col__md-6.is-col__xs-12
							b.text__lg Мурманск
							p пр. Андропова, д. 26 оф. 103
							p Пн-Пт 9:00-18:00
						.is-col.is-col__md-6.is-col__xs-12.text__md--right
							.text__xl +7 (499) 350 43 18
							.text__xl sale@oxrapro.ru
						.visible__sm.visible__xs.is-col__xs-12
							.map
								iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11294.033527615416!2d30.32602098834826!3d59.97325958726285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slv!4v1551609965417" height="330" frameborder="0" style="border:0;width:100%" allowfullscreen)
							a.btn.btn--default.btn--full.showBtn--js(href='#') Смотреть на карте
			.project-form
				.is-row.between__xs
					.is-col.is-col__lg-4.is-col__xs-12
						h3 Остались вопросы?
							span Напишите нам и мы ответим через пару минут
					.is-col.is-col__xl-6.is-col__lg-8.is-col__xs-12
						form.is-row.between__xs(action='', method='POST')
							.is-col.is-col__md-6.is-col__xs-12.form__group
								+fieldInput('text', 'name', 'name', '', 'Ваше имя', false, false)
							.is-col.is-col__md-6.is-col__xs-12.form__group
								+fieldInput('text', 'phone', 'phone', '', 'Ваш телефон', false, false)
							.is-col.is-col__xs-12.form__group
								+fieldInput('text', 'mess', 'mess', '', 'Введите ваш вопрос', false, false)
							.is-col.is-col__md-6.is-col__xs-12.form__group
								.checkbox
									input(type="checkbox", id='agr', checked)
									label(for='agr')
									.label Даю согласие на #[a(href='#') обработку персональных данных]
							.is-col.form__group
								button.btn.btn--warning(type='submit') Отправить
