main
	section.directionPage-common
		.container.relative
			.title
				h1= title
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.is-col__xl-5.is-col__lg-7
				p Немецкий фармацевт Генри Нестле, ставший основателем компании «Нестле», наладил производство своей легендарной молочной муки farine lactée в городе Веве в Швейцарии. Данный продукт сочетал в себе коровье молоко, пшеничную муку и сахар и был разработан Генри Нестле специально для того, чтобы снизить высокий показатель смертности среди тех младенцев, которые по тем или иным причинам не могли быть вскормлены грудным молоком.
				p Примерно к этому времени относится и начало использования фармацевтом своего всемирно известного логотипа, представляющего собой изображение гнезда с птицами.
			.directionPage-common__info.is-row
				.is-col.is-col__xl-3.is-col__md-4.is-col__xs-12
					.directionPage-common__number 29
					.directionPage-common__txt Выполненных #[br] проекта
				.is-col.is-col__xl-3.is-col__md-4.is-col__xs-12
					.directionPage-common__number 4
					.directionPage-common__txt Ответственных #[br] специалиста
				.is-col.is-col__xl-3.is-col__md-4.is-col__xs-12
					.directionPage-common__number 11
					.directionPage-common__txt Услуг по охране #[br] труда
				.is-col.is-col__xl-3.is-col__xs-12.text__md--right
					a.btn.btn--orange.popup-modal(href='#callme')
						span.icon-call
						span Консультация
			h2 Услуги
			.is-row
				- for (var x = 1; x < 3; x++)
					.is-col.is-col__xl-3.is-col__md-4.is-col__sm-6.is-col__xs-12(data-aos="fade-down", data-aos-delay="300")
						a.prices-item(href='#')
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.is-col.is-col__xl-3.is-col__md-4.is-col__sm-6.is-col__xs-12(data-aos="fade-down", data-aos-delay="500")
						a.prices-item(href='#')
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.is-col.is-col__xl-3.is-col__md-4.is-col__sm-6.is-col__xs-12(data-aos="fade-down", data-aos-delay="700")
						a.prices-item(href='#')
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.is-col.is-col__xl-3.is-col__md-4.is-col__sm-6.is-col__xs-12(data-aos="fade-down", data-aos-delay="900")
						a.prices-item(href='#')
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.is-col.is-col__xl-3.is-col__md-4.is-col__sm-6.is-col__xs-12.hidden-content
						a.prices-item(href='#')
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
			.videoPage-link
				a.linkIcon.showmore--js(href="#")
					span.icon-arrow_repeat
					span Показать еще
	section.directionPage
		.container
			.service-list
				h2 Как мы работаем?
				.is-row
					- for (var x = 1; x < 3; x++)
						.is-col.is-col__xl-4.is-col__md-6.is-col__xs-12.service-list_item
							h4 Оставьте заявку на нашем сайте
							p В рамках концепции Акоффа и Стэка, восприятие марки отталкивает эмпирический рекламный блок, признавая определенные рыночные тенденции.
							p Рекламный клаттер, в рамках сегодняшних воззрений, допускает креативный целевой трафик.
						.is-col.is-col__xl-4.is-col__md-6.is-col__xs-12.service-list_item
							h4 Подпишите договор и произведите оплату услуги
							p В рамках концепции Акоффа и Стэка, восприятие марки отталкивает эмпирический рекламный блок, признавая определенные рыночные тенденции.
						.is-col.is-col__xl-4.is-col__md-6.is-col__xs-12.service-list_item
							h4 Начните заниматься в удобное для вас время
							p Рекламный клаттер, в рамках сегодняшних воззрений, допускает креативный целевой трафик.
							p Конвесия покупателя осмысленно изменяет побочный PR-эффект, расширяя долю рынка. Рекламная площадка, как следует из вышесказанного, неоднозначна.
			.title
				h2 Лицензии
				.hidden__sm.hidden__xs
					a.btn.btn--outlined(href='#') Смотреть все
			.is-row.popup-gallery
				- for (var x = 1; x < 4; x++)
					a.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12.licensePage-item(href='images/sert-2.jpg')
						img(src='images/sert-2.jpg', alt='')
						h5 Сертификат на проведение общественной деятельности
						p Организации оказывающие услуги охраны труда и в частности в сфере пожарной безопасности
	include ../components/_reviews
	section.directionPage.back--grey
		.container
			include ../components/_projects
	section.directionPage
		.container
			.faq-list
				h2 Вопросы и ответы
				.is-row.between__xs
					.is-col.is-col__md-7.is-col__xs-12.accordion
						- for (var x = 1; x < 4; x++)
							.faqPage-item
								.toggle
									.img: .icon-plus
									span Какие виды продукции производят предприятия Компании «Металлоинвест»?
								.inner
									p Металлоинвест производит железорудное сырье для выплавки чугуна, металлизованное сырье и товарный чугун для выплавки стали, а также широкий спектр высококачественного сортового и листового проката.
									p Мы производим все виды марок мостовой стали, а также металлопрокат высокого качества, особо чистый по примесям, обладающий повышенной технологической пластичностью при горячей и холодной деформации, усталостной прочностью, проявляемой при эксплуатации деталей, высоким качеством поверхности и точностью геометрических размеров, технологичностью при термической обработке у потребителей.
					.is-col.is-col__xl-4.is-col__md-5.is-col__xs-12
						.project-form
							h3 Не нашли ответ на свой вопрос?
							a.btn.btn--warning(href='#') Все вопросы
						.present-form
							h3 Презентация компании
							a(href='#') Смотреть
							img(src='images/presentation.png', alt='')
