main
	section.documentsPage
		.container
			.title
				h1 Учредительные #[br] документы
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.is-row
				- for (var x = 1; x < 13; x++)
					.is-col.is-col__lg-3.is-col__md-6.is-col__xs-12.documentsPage-item
						img(src='images/doc-1.jpg', alt='')
						h5 Положение о форме обучения и режиме занятий ООО «ОхраПро»
						a(href='#') Скачать (docx, 43 Кб)
				.is-col.is-col__lg-3.is-col__md-6.is-col__xs-12.documentsPage-item.hidden-content
					img(src='images/doc-1.jpg', alt='')
					h5 Положение о форме обучения и режиме занятий ООО «ОхраПро»
					a(href='#') Скачать (docx, 43 Кб)
				.is-col.is-col__lg-3.is-col__md-6.is-col__xs-12.documentsPage-item.hidden-content
					img(src='images/doc-1.jpg', alt='')
					h5 Положение о форме обучения и режиме занятий ООО «ОхраПро»
					a(href='#') Скачать (docx, 43 Кб)
			.documentsPage-link.hidden__sm.hidden__xs
				a.linkIcon.showmore--js(href="#")
					span.icon-arrow_repeat
					span Показать еще
			.clients.relative
				h2 Наши клиенты #[span 20 из 40]
				.swiper-client
					.swiper-wrapper.client
						- for (var x = 1; x < 3; x++)
							.swiper-slide
								.client-img: img(src='images/client-1.jpg', alt='')
								h5: a(href='#') Юлмарт
								p.text__lg Сеть магазинов
							.swiper-slide
								.client-img: img(src='images/client-2.jpg', alt='')
								h5: a(href='#') Русские самоцветы
								p.text__lg Сеть магазинов
							.swiper-slide
								.client-img: img(src='images/client-3.jpg', alt='')
								h5: a(href='#') Кассир.ру
								p.text__lg Онлайн сервис
							.swiper-slide
								.client-img: img(src='images/client-4.jpg', alt='')
								h5: a(href='#') Хеликс
								p.text__lg Лаборатория
							.swiper-slide
								.client-img: img(src='images/client-5.jpg', alt='')
								h5: a(href='#') Редмонд
								p.text__lg Компания
							.swiper-slide
								.client-img: img(src='images/client-6.jpg', alt='')
								h5: a(href='#') Планета Инструмент
								p.text__lg Интернет-магазин
					.swiper-settings
						a.btn.btn--outlined(href='#') Смотреть все
						.swiper-btn.hidden__sm.hidden__xs
							.swiper-btn-prev-c.swiper-btn-prev: span.icon-angle-left
							.swiper-btn-next-c.swiper-btn-next: span.icon-angle-right
			.visible__xs.visible__sm
				a.btn.btn--outlined.btn--full(href='#') Смотреть все
