main
	section.employeesPage
		.container
			.title
				h1 Наша команда
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			h3 Совет директоров
			.employeesPage-main
				.employeesPage-main_item.is-row
					.is-col.is-col__md-5.is-col__xs-12
						img(src='images/employee-1.jpg', alt='')
					.is-col.is-col__xl-5.is-col__lg-6.is-col__md-7.is-col__xs-12
						.employeesPage-title Сидоров Константин Константинопольский
						b.text--primary Генеральный директор
						a.text__lg(href='tel:79662144222')
							span.icon-phone
							span +7 (966) 214 42 22
						a.text__lg(href='mailto:konstantin@oxrapro.ru')
							span.icon-email
							span konstantin@oxrapro.ru
						.employeesPage-desc Владелец «СГК» Андрей Мельниченко вошёл в пятёрку самых богатых жителей России с состоянием 15,9 миллиарда долларов по данным Bloomberg Billionaires Index.
				.employeesPage-main_item.is-row
					.is-col.is-col__md-5.is-col__xs-12
						img(src='images/employee-2.jpg', alt='')
					.is-col.is-col__xl-5.is-col__lg-6.is-col__md-7.is-col__xs-12
						.employeesPage-title Капканов Владимир Петрович
						b.text--primary Соучредитель
						a.text__lg(href='74993201117')
							span.icon-phone
							span +7 (499) 320 11 17
						a.text__lg(href='mailto:capcanov@oxrapro.ru')
							span.icon-email
							span capcanov@oxrapro.ru
						.employeesPage-desc Владелец «СГК» Андрей Мельниченко вошёл в пятёрку самых богатых жителей России с состоянием 15,9 миллиарда долларов по данным Bloomberg Billionaires Index.
			.employeesPage-item.relative
				h3 Управлящий состав
				.swiper.swiper-container
					.swiper-wrapper
						- for (var x = 1; x < 6; x++)
							.swiper-slide
								img(src='images/employee-3.jpg', alt='')
								h5 Константинов Константин Константинопольский
								b.text--primary Руководитель отдела
								a.text__lg(href='tel:79662144222')
									span.icon-phone
									span +7 (966) 214 42 22
								a.text__lg(href='mailto:konstantin@oxrapro.ru')
									span.icon-email
									span konstantin@oxrapro.ru
					.swiper-settings
						.swiper-btn.hidden__sm.hidden__xs
							.swiper-btn-prev-r.swiper-btn-prev: span.icon-angle-left
							.swiper-btn-next-r.swiper-btn-next: span.icon-angle-right
			.employeesPage-item.relative
				.swiper-employee.swiper-container
					.swiper-wrapper
						- for (var x = 1; x < 6; x++)
							.swiper-slide
								img(src='images/employee-3.jpg', alt='')
								h5 Константинов Константин Константинопольский
								b.text--primary Руководитель отдела
								a.text__lg(href='tel:79662144222')
									span.icon-phone
									span +7 (966) 214 42 22
								a.text__lg(href='mailto:konstantin@oxrapro.ru')
									span.icon-email
									span konstantin@oxrapro.ru
					.swiper-settings
						.swiper-btn.hidden__sm.hidden__xs
							.swiper-btn-prev-e.swiper-btn-prev: span.icon-angle-left
							.swiper-btn-next-e.swiper-btn-next: span.icon-angle-right
