main
	section.faqPage
		.container
			.title
				h1 Вопросы и ответы
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.is-row
				.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
					ul.aside-nav#filters
						li.active(data-filter='*') Все
							span 28
						li(data-filter='.defence') Условия заказа
							span 9
						li(data-filter='.fire') Доставка
							span 6
						li(data-filter='.eco') Контроль качества
							span 3
						li(data-filter='.study') Забота об окружающей среде
							span 1
				.is-col.is-col__lg-9.is-col__md-8.is-col__xs-12.grid.accordion
					.grid-sizer
					.gutter-sizer
					.grid-item.grid-item--full.faqPage-item(class='defence')
						.toggle
							.img: .icon-plus
							span Какие виды продукции производят предприятия Компании «Металлоинвест»?
						.inner
							p Металлоинвест производит железорудное сырье для выплавки чугуна, металлизованное сырье и товарный чугун для выплавки стали, а также широкий спектр высококачественного сортового и листового проката.
							p Мы производим все виды марок мостовой стали, а также металлопрокат высокого качества, особо чистый по примесям, обладающий повышенной технологической пластичностью при горячей и холодной деформации, усталостной прочностью, проявляемой при эксплуатации деталей, высоким качеством поверхности и точностью геометрических размеров, технологичностью при термической обработке у потребителей.
					.grid-item.grid-item--full.faqPage-item(class='fire')
						.toggle
							.img: .icon-plus
							span Какие виды продукции производят предприятия Компании «Металлоинвест»?
						.inner
							p Металлоинвест производит железорудное сырье для выплавки чугуна, металлизованное сырье и товарный чугун для выплавки стали, а также широкий спектр высококачественного сортового и листового проката.
							p Мы производим все виды марок мостовой стали, а также металлопрокат высокого качества, особо чистый по примесям, обладающий повышенной технологической пластичностью при горячей и холодной деформации, усталостной прочностью, проявляемой при эксплуатации деталей, высоким качеством поверхности и точностью геометрических размеров, технологичностью при термической обработке у потребителей.
					.grid-item.grid-item--full.faqPage-item(class='eco')
						.toggle
							.img: .icon-plus
							span Какие виды продукции производят предприятия Компании «Металлоинвест»?
						.inner
							p Металлоинвест производит железорудное сырье для выплавки чугуна, металлизованное сырье и товарный чугун для выплавки стали, а также широкий спектр высококачественного сортового и листового проката.
							p Мы производим все виды марок мостовой стали, а также металлопрокат высокого качества, особо чистый по примесям, обладающий повышенной технологической пластичностью при горячей и холодной деформации, усталостной прочностью, проявляемой при эксплуатации деталей, высоким качеством поверхности и точностью геометрических размеров, технологичностью при термической обработке у потребителей.
					.grid-item.grid-item--full.faqPage-item(class='study')
						.toggle
							.img: .icon-plus
							span Какие виды продукции производят предприятия Компании «Металлоинвест»?
						.inner
							p Металлоинвест производит железорудное сырье для выплавки чугуна, металлизованное сырье и товарный чугун для выплавки стали, а также широкий спектр высококачественного сортового и листового проката.
							p Мы производим все виды марок мостовой стали, а также металлопрокат высокого качества, особо чистый по примесям, обладающий повышенной технологической пластичностью при горячей и холодной деформации, усталостной прочностью, проявляемой при эксплуатации деталей, высоким качеством поверхности и точностью геометрических размеров, технологичностью при термической обработке у потребителей.
					.grid-item.grid-item--full.faqPage-item.hidden-content(class='study')
						.toggle
							.img: .icon-plus
							span Какие виды продукции производят предприятия Компании «Металлоинвест»?
						.inner
							p Металлоинвест производит железорудное сырье для выплавки чугуна, металлизованное сырье и товарный чугун для выплавки стали, а также широкий спектр высококачественного сортового и листового проката.
							p Мы производим все виды марок мостовой стали, а также металлопрокат высокого качества, особо чистый по примесям, обладающий повышенной технологической пластичностью при горячей и холодной деформации, усталостной прочностью, проявляемой при эксплуатации деталей, высоким качеством поверхности и точностью геометрических размеров, технологичностью при термической обработке у потребителей.
			.faqPage-link
				a.linkIcon.showmore--js(href="#")
					span.icon-arrow_repeat
					span Показать еще
			.project-form
				.is-row.between__xs
					.is-col.is-col__lg-4.is-col__xs-12
						h3 Есть вопрос?
							span Задайте его нашим специалистам!
					.is-col.is-col__xl-6.is-col__lg-8.is-col__xs-12
						form.is-row.between__xs(action='', method='POST')
							.is-col.is-col__md-6.is-col__xs-12.form__group
								+fieldInput('text', 'name', 'name', '', 'Ваше имя', false, false)
							.is-col.is-col__md-6.is-col__xs-12.form__group
								+fieldInput('text', 'phone', 'phone', '', 'Ваш телефон', false, false)
							.is-col.is-col__xs-12.form__group
								+fieldInput('text', 'mess', 'mess', '', 'Введите ваш вопрос', false, false)
							.is-col.is-col__md-6.is-col__xs-12.form__group
								.checkbox
									input(type="checkbox", id='agr' checked)
									label(for='agr')
									.label Даю согласие на #[a(href='#') обработку персональных данных]
							.is-col.form__group
								button.btn.btn--warning(type='submit') Отправить
