main.index
	section.videotabs.h-container.tabs
		.video
			video.video--js(autoplay, muted)
				source(src='images/video/video-1.mp4')
		.container(data-aos="fade-down")
			#tab1.tabs__content.active
				h1 Охрана труда
			#tab2.tabs__content
				h1 B2B услуги для организаций любой формы собственности
			#tab3.tabs__content
				h1 Пожарная безопасность
			#tab4.tabs__content
				h1 Учебный центр
			.tabs-inner
				.line
				.button.last__md.first__lg
					a.btn.btn--info(href='link1') Подробнее
					.btn--shadow.btn--white
				ul.tabs__caption
					li.primary.active(data-video='images/video/video-1.mp4', data-link='link1', data-tab='tab1', data-color='#3f68e6')
						span.icon-icon-2
						p.text__lg Охрана труда
					li.success(data-video='images/video/video-2.mp4', data-link='link2', data-tab='tab2', data-color='#83c550')
						span.icon-icon-1
						p.text__lg Экология
					li.danger(data-video='images/video/video-3.mp4', data-link='link3', data-tab='tab3', data-color='#f73232')
						span.icon-icon-4
						p.text__lg Пожарная #[br] безопасность
					li.warning(data-video='images/video/video-4.mp4', data-link='link4', data-tab='tab4', data-color='#fb5820')
						span.icon-icon-3
						p.text__lg Учебный #[br] центр
	section.directions.h-container
		.container
			.text__md--center
				h2.hidden__sm.hidden__xs Направления
				h2.visible__sm.visible__xs B2B услуги для организаций любой формы собственности
			.is-row.tabs.around__xs
				.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
					ul.tabs__caption
						li.success.active(data-tab='tab01', data-title='B2B услуги для организаций любой формы собственности')
							span.icon-icon-1
							p.text__lg Экология
						li.primary(data-tab='tab02', data-title='Охрана труда')
							span.icon-icon-2
							p.text__lg Охрана труда
						li.warning(data-tab='tab03', data-title='Учебный центр')
							span.icon-icon-3
							p.text__lg Учебный центр
						li.danger(data-tab='tab04', data-title='Пожарная безопасность')
							span.icon-icon-4
							p.text__lg Пожарная #[br] безопасность
				.is-col.is-col__lg-7.is-col__md-8.is-col__xs-12
					#tab01.tabs__content.active
						.column.column-2
							div(data-aos="fade-down", data-aos-delay="100") #[span Работаем 365 дней в году.] Вам не нужно заботиться о том, что штатный эколог уйдет в отпуск или заболеет
							div(data-aos="fade-down", data-aos-delay="200") Личный #[span менеджер всегда держит в курсе заказчиков,] на какой стадии находится проект
							div(data-aos="fade-down", data-aos-delay="300") В случае необходимости, #[span специалисты бесплатно выезжают] на объект для оценки сложности
							div(data-aos="fade-down", data-aos-delay="400") Всегда держим в курсе наших заказчиков об #[span изменениях в законодательстве] и оперативно реагируем на них
							div(data-aos="fade-down", data-aos-delay="500") В штате компании работают #[span экологи по воздуху, по воде, по отходам]
							div(data-aos="fade-down", data-aos-delay="600") Автоматизация позволяет нам быть всегда на связи. Мы ведем #[span учет и контроль входящих звонков.] Максимальное время ответа наших специалистов 15 минут
						.button
							a.btn.btn--info(href='#') Подробнее
							.btn--shadow.btn--white
					#tab02.tabs__content
						.column.column-2
							div(data-aos="fade-down", data-aos-delay="100") #[span Работаем 365 дней в году.] Вам не нужно заботиться о том, что штатный эколог уйдет в отпуск или заболеет
							div(data-aos="fade-down", data-aos-delay="200") Личный #[span менеджер всегда держит в курсе заказчиков,] на какой стадии находится проект
							div(data-aos="fade-down", data-aos-delay="300") В случае необходимости, #[span специалисты бесплатно выезжают] на объект для оценки сложности
							div(data-aos="fade-down", data-aos-delay="400") В штате компании работают #[span экологи по воздуху, по воде, по отходам]
						.button
							a.btn.btn--info(href='#') Подробнее
							.btn--shadow.btn--white
					#tab03.tabs__content
						.column.column-2
							div(data-aos="fade-down", data-aos-delay="100") В случае необходимости, #[span специалисты бесплатно выезжают] на объект для оценки сложности
							div(data-aos="fade-down", data-aos-delay="200") Всегда держим в курсе наших заказчиков об #[span изменениях в законодательстве] и оперативно реагируем на них
							div(data-aos="fade-down", data-aos-delay="300") В штате компании работают #[span экологи по воздуху, по воде, по отходам]
							div(data-aos="fade-down", data-aos-delay="400") Всегда держим в курсе наших заказчиков об #[span изменениях в законодательстве] и оперативно реагируем на них
						.button
							a.btn.btn--info(href='#') Подробнее
							.btn--shadow.btn--white
					#tab04.tabs__content
						.column.column-2
							div(data-aos="fade-down", data-aos-delay="100") #[span Работаем 365 дней в году.] Вам не нужно заботиться о том, что штатный эколог уйдет в отпуск или заболеет
							div(data-aos="fade-down", data-aos-delay="200") Автоматизация позволяет нам быть всегда на связи. Мы ведем #[span учет и контроль входящих звонков.] Максимальное время ответа наших специалистов 15 минут
						.button
							a.btn.btn--info(href='#') Подробнее
							.btn--shadow.btn--white
	include ../components/_reviews
	section.projects
		.container
			h2 Наши проекты
			.is-row.projects-inner
				.is-col.is-col__md-6.is-col__xs-12(data-aos="zoom-in", data-aos-delay="300")
					.projects-item.bg--warning
						.is-col__md-6.is-col__xs-12.last__lg.text__lg--center
							img(src='images/proj-1.jpg', alt='')
						.is-col__lg-6.is-col__xs-12.flex
							h4 Кейс компании «Юлмарт»
							p Между «Нестле» и «Англо&nbsp;-&nbsp;швейцарской компанией» разворачивается ожесточенная конкуренция.
							.flex-auto-top
								.button
									a.btn.btn--warning(href='#') Смотреть
									.btn--shadow.btn--white
				.is-col.is-col__md-6.is-col__xs-12(data-aos="zoom-in", data-aos-delay="500")
					.projects-item(style="background: url('images/project-1.jpg') no-repeat center / cover")
						.is-col__lg-6.is-col__xs-12.flex
							h4 Кейс компании «Кассир.ру»
							p Между «Нестле» и «Англо&nbsp;-&nbsp;швейцарской компанией» разворачивается ожесточенная конкуренция.
							.flex-auto-top
								.button
									a.btn.btn--info(href='#') Смотреть
									.btn--shadow.btn--white
			.visible__sm.visible__xs
				a.btn.btn--outlined.btn--full(href='#') Все кейсы
			.is-row.projects-list.stretch__xs.hidden__sm.hidden__xs
				.is-col.is-col__md-6.is-col__xs-12
					.is-row
						.is-col.is-col__lg-6.is-col__sm-6.is-col__xs-12(data-aos="zoom-in", data-aos-delay="300")
							.projects-list_item
								.projects-list_img
									img(src='images/firm-1.jpg', alt='')
								.projects-list_title
									h5 Кейс компании #[br] «Рэдмонд»
								.projects-list_desc Между «Нестле» и «Англо-швейцарской компанией» разворачивается ожесточенная конкуренция, которая особенно обостряется.
								.projects-list_btn
									.button
										a.btn.btn--primary(href='#') Смотреть
										.btn--shadow.btn--black
						.is-col.is-col__lg-5.is-col__sm-6.is-col__xs-12(data-aos="zoom-in", data-aos-delay="500")
							.projects-list_item
								.projects-list_img
									img(src='images/firm-2.jpg', alt='')
								.projects-list_title
									h5 Кейс компании #[br] «Хеликс»
								.projects-list_desc Между «Нестле» и «Англо-швейцарской компанией» разворачивается ожесточенная конкуренция.
								.projects-list_btn
									.button
										a.btn.btn--primary(href='#') Смотреть
										.btn--shadow.btn--black
				.is-col.is-col__md-6.is-col__xs-12(data-aos="zoom-in", data-aos-delay="700")
					.projects-list_item(style="background: url('images/project-line.png') no-repeat center / 100% auto")
						h3 Кейс компании #[br] «Планета Инструмент»: #[br] увеличили прибыль на #[br] 30% за месяц благодаря #[br] экономии
						.projects-list_btn
							.button
								a.btn.btn--primary(href='#') Смотреть
								.btn--shadow.btn--black
							a.btn.btn--outlined(href='#') Все кейсы
	section.news
		.container
			h2 Новости
			.news-main
				.news-inner
					.is-col__xl-6.is-col__lg-8.is-col__xs-12.flex(data-aos="fade-right")
						h3 ОхраПро попала в топ 10 быстрорастущих компаний в России
						.news-date 27 декабря 2018
						.flex-auto-top
							.button
								a.btn.btn--primary(href='#') Читать
								.btn--shadow.btn--white
							a.btn.btn--light(href='#') Все новости
				img(src='images/news-main.jpg', alt='')
			.is-row
				.is-col.news-column(data-aos="fade-up", data-aos-delay="300")
					a(href='#')
						.news-date 27 декабря 2018
						h4 Вручение премии «Лучшая компания 2018 года»
				.is-col.news-column(data-aos="fade-up", data-aos-delay="400")
					a(href='#')
						.news-date 22 декабря 2018
						h4 Посещение детской школы творчества
				.is-col.news-column(data-aos="fade-up", data-aos-delay="500")
					a(href='#')
						.news-date 24 декабря 2018
						h4 Новый образовательный партнер Henkeu
				.is-col.news-column.hidden__md(data-aos="fade-up", data-aos-delay="600")
					a(href='#')
						.news-date 10 января 2019
						h4 Начало поставок средств индивидуальной защиты
				.is-col.news-column.hidden__md(data-aos="fade-up", data-aos-delay="700")
					a(href='#')
						.news-date 22 декабря 2018
						h4 Посещение детской школы творчества
	section.maps
		.container
			.maps-inner.maps-top(data-aos="fade-up")
				h2 Работаем во всех уголках России
				p Компания «ОхраПро» работает и постоянно развивается на территории России с 2009 года - для того, чтобы предоставить клиентам широчайший ассортимент услуг, качество и самые выгодные цены.
				p Разрешите поблагодарить вас за интерес, проявленный к нашей компании!
				p Компания «ОхраПро» была создана для удовлетворения стремительно растущего спроса на услуги в области охраны труда и пожарной безопасности.
			.maps-inner.maps-bottom
				.button
					a.btn.btn--primary(href='#') О компании
					.btn--shadow.btn--black
		svg.maps-svg(viewBox="0 0 1600 977" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
			g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
				image(width='1600' height='977' x="0" y="0" xlink:href="images/map.png")
				path(id="9m43a" d="M206.545,434.51 C208.609995,434.264559 210.649071,435.139423 211.894127,436.805041 C213.139183,438.470658 213.401066,440.673982 212.581127,442.585041 C211.761188,444.4961 209.983995,445.824559 207.919,446.07 C204.726794,446.44942 201.83142,444.169206 201.452,440.977 C201.072581,437.784794 203.352794,434.88942 206.545,434.51 L206.545,434.51 Z")
				path(id="9m43b" d="M207.45,567.615 C210.642206,567.23558 213.537581,569.515794 213.917,572.708 C214.29642,575.900206 212.016206,578.79558 208.824,579.175 C205.631794,579.55442 202.73642,577.274206 202.357,574.082 C201.977581,570.889794 204.257794,567.99442 207.45,567.615 L207.45,567.615 Z")
				path(id="9m43c" d="M115.351,734.158 C117.415995,733.912559 119.455071,734.787423 120.700127,736.453041 C121.945183,738.118658 122.207066,740.321982 121.387127,742.233041 C120.567188,744.1441 118.789995,745.472559 116.725,745.718 C113.532794,746.09742 110.63742,743.817206 110.258,740.625 C109.878581,737.432794 112.158794,734.53742 115.351,734.158 L115.351,734.158 Z")
				path(id="9m43d" d="M97.377,798.106 C99.4418168,797.860736 101.480633,798.735671 102.725445,800.401223 C103.970258,802.066775 104.23195,804.269909 103.411945,806.180724 C102.591941,808.091539 100.814817,809.419738 98.75,809.665 C95.557795,810.044142 92.662646,807.763704 92.2835026,804.5715 C91.9043593,801.379295 94.1847953,798.484145 97.377,798.105 L97.377,798.106 Z")
				path(id="9m43e" d="M473.39,697.985 C476.581929,697.605857 479.476856,699.88607 479.856,703.078 C480.235143,706.26993 477.954929,709.164857 474.763,709.544 C471.570794,709.923143 468.675643,707.642706 468.2965,704.4505 C467.917356,701.258294 470.197794,698.363143 473.39,697.984 L473.39,697.985 Z")
				path(id="9m43f" d="M534.633,729.069 C536.697995,728.823379 538.737167,729.698079 539.982378,731.363607 C541.227589,733.029135 541.489662,735.232459 540.669878,737.143608 C539.850093,739.054756 538.072995,740.38338 536.008,740.629 C533.943005,740.87462 531.903834,739.999921 530.658623,738.334392 C529.413412,736.668864 529.151338,734.465541 529.971123,732.554392 C530.790907,730.643244 532.568005,729.31462 534.633,729.069 Z")
				path(id="9m43g" d="M725.095,816.192 C728.287206,815.81258 731.182581,818.092794 731.562,821.285 C731.94142,824.477206 729.661206,827.37258 726.469,827.752 C723.276794,828.13142 720.38142,825.851206 720.002,822.659 C719.622581,819.466794 721.902794,816.57142 725.095,816.192 L725.095,816.192 Z")
	section.clients
		.container.relative
			h2 Наши клиенты #[span 20 из 40]
			.swiper-client
				.swiper-wrapper.client
					- for (var x = 1; x < 3; x++)
						.swiper-slide(data-aos="fade-up", data-aos-delay="300")
							.client-img: img(src='images/client-1.jpg', alt='')
							h5: a(href='#') Юлмарт
							p.text__lg Сеть магазинов
						.swiper-slide(data-aos="fade-up", data-aos-delay="400")
							.client-img: img(src='images/client-2.jpg', alt='')
							h5: a(href='#') Русские самоцветы
							p.text__lg Сеть магазинов
						.swiper-slide(data-aos="fade-up", data-aos-delay="500")
							.client-img: img(src='images/client-3.jpg', alt='')
							h5: a(href='#') Кассир.ру
							p.text__lg Онлайн сервис
						.swiper-slide(data-aos="fade-up", data-aos-delay="600")
							.client-img: img(src='images/client-4.jpg', alt='')
							h5: a(href='#') Хеликс
							p.text__lg Лаборатория
						.swiper-slide(data-aos="fade-up", data-aos-delay="700")
							.client-img: img(src='images/client-5.jpg', alt='')
							h5: a(href='#') Редмонд
							p.text__lg Компания
						.swiper-slide(data-aos="fade-up", data-aos-delay="800")
							.client-img: img(src='images/client-6.jpg', alt='')
							h5: a(href='#') Планета Инструмент
							p.text__lg Интернет-магазин
				.swiper-settings
					a.btn.btn--outlined(href='#') Смотреть все
					.swiper-btn.hidden__sm.hidden__xs
						.swiper-btn-prev-c.swiper-btn-prev: span.icon-angle-left
						.swiper-btn-next-c.swiper-btn-next: span.icon-angle-right
