main
	section.licensePage
		.container
			.title
				h1= title
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.title
				h3 Охрана труда
				.hidden__sm.hidden__xs
					a.btn.btn--outlined(href='#') Подробнее
			.is-row.popup-gallery
				- for (var x = 1; x < 6; x++)
					a(href='images/sert-2.jpg').is-col.is-col__lg-4.is-col__md-6.is-col__xs-12.licensePage-item
						img(src='images/sert-2.jpg', alt='')
						h5 Сертификат на проведение общественной деятельности
						p Организации оказывающие услуги охраны труда и в частности в сфере пожарной безопасности
			.visible__xs.visible__sm
				a.btn.btn--outlined.btn--full(href='#') Подробнее
			.title
				h3 Учебный центр
				.hidden__sm.hidden__xs
					a.btn.btn--outlined(href='#') Подробнее
			.is-row.popup-gallery
				- for (var x = 1; x < 4; x++)
					a(href='images/sert-2.jpg').is-col.is-col__lg-4.is-col__md-6.is-col__xs-12.licensePage-item
						img(src='images/sert-2.jpg', alt='')
						h5 Сертификат на проведение общественной деятельности
						p Организации оказывающие услуги охраны труда и в частности в сфере пожарной безопасности
			.visible__xs.visible__sm
				a.btn.btn--outlined.btn--full(href='#') Подробнее
			.title
				h3 Пожарная безопасность
				.hidden__sm.hidden__xs
					a.btn.btn--outlined(href='#') Подробнее
			.is-row.popup-gallery
				- for (var x = 1; x < 3; x++)
					a(href='images/sert-2.jpg').is-col.is-col__lg-4.is-col__md-6.is-col__xs-12.licensePage-item
						img(src='images/sert-2.jpg', alt='')
						h5 Сертификат на проведение общественной деятельности
						p Организации оказывающие услуги охраны труда и в частности в сфере пожарной безопасности
			.visible__xs.visible__sm
				a.btn.btn--outlined.btn--full(href='#') Подробнее

