main
	section.newsPage
		.container
			.title
				h1= title
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			ul.button-nav#filters
				li.active(data-filter='*') Все
				li(data-filter='.fire') Пожарная безопасность
				li(data-filter='.defence') Охрана труда
				li(data-filter='.eco') Экология
				li(data-filter='.study') Учебный центр
			.grid
				.grid-sizer
				.gutter-sizer
				.grid-item.grid-item--full.newsPage-main(class='defence')
					.news-inner
						.is-col__xl-6.is-col__lg-8.is-col__xs-12
							.tag.tag--warning Пожарная безопасность
							h3 ОхраПро попала в топ 10 быстрорастущих компаний в России
							.news-date.visible__sm.visible__xs 27 декабря 2018
							.flex-auto-top
								.button
									a.btn.btn--orange(href='#') Читать
									.btn--shadow.btn--white
								.news-date.hidden__sm.hidden__xs 27 декабря 2018
					img(src='images/news-main.jpg', alt='')
				a.grid-item.newsPage-item(class='fire', href='#')
					.tag.tag--primary Пожарная безопасность
					h4 5 причин, почему онлайн-консультант убьет весь ваш маркетинг
					.news-date 27 декабря 2018
				a.grid-item.newsPage-item(class='eco', href='#')
					.tag.tag--primary Пожарная безопасность
					h4 5 причин, почему онлайн-консультант убьет весь ваш маркетинг
					.news-date 27 декабря 2018
				a.grid-item.newsPage-item(class='eco', href='#')
					.tag.tag--primary Пожарная безопасность
					h4 5 причин, почему онлайн-консультант убьет весь ваш маркетинг
					.news-date 27 декабря 2018
				a.grid-item.newsPage-item(class='study', href='#')
					.tag.tag--primary Пожарная безопасность
					h4 5 причин, почему онлайн-консультант убьет весь ваш маркетинг
					.news-date 27 декабря 2018
				a.grid-item.newsPage-item(class='fire', href='#')
					.tag.tag--primary Пожарная безопасность
					h4 5 причин, почему онлайн-консультант убьет весь ваш маркетинг
					.news-date 27 декабря 2018
				a.grid-item.newsPage-item(class='defence', href='#')
					.tag.tag--primary Пожарная безопасность
					h4 5 причин, почему онлайн-консультант убьет весь ваш маркетинг
					.news-date 27 декабря 2018
				a.grid-item.newsPage-item(class='eco', href='#')
					.tag.tag--primary Пожарная безопасность
					h4 5 причин, почему онлайн-консультант убьет весь ваш маркетинг
					.news-date 27 декабря 2018
				a.grid-item.newsPage-item(class='study', href='#')
					.tag.tag--primary Пожарная безопасность
					h4 5 причин, почему онлайн-консультант убьет весь ваш маркетинг
					.news-date 27 декабря 2018
				a.grid-item.newsPage-item.hidden-content(class='eco', href='#')
					.tag.tag--primary Пожарная безопасность
					h4 5 причин, почему онлайн-консультант убьет весь ваш маркетинг
					.news-date 27 декабря 2018
				a.grid-item.newsPage-item.hidden-content(class='study', href='#')
					.tag.tag--primary Пожарная безопасность
					h4 5 причин, почему онлайн-консультант убьет весь ваш маркетинг
					.news-date 27 декабря 2018
			.newsPage-link
				a.linkIcon.showmore--js(href="#")
					span.icon-arrow_repeat
					span Показать еще
