main
	section.page404
		.container
			h1 404
			h3 Страница, которую вы #[br] ищете, не существует
			ul.list--inline
				li
					.button
						a.btn.btn--info(href='#') На главную
						.btn--shadow.btn--white
				li
					a.btn.btn--success(href='#') О компании
		.page404-img
			//img(src='images/page404.png', alt='')
			h4 Зато вы можете #[br] посмотреть нашу #[br] презентацию
			a(href="#"): img(src='images/seeIt.png', alt='')

