main
	section.prices
		.container
			.title
				h1 Наши цены
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.is-row
				.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
					ul.aside-nav#filters
						li.active(data-filter='*') Все
							span 28
						li(data-filter='.defence') Охрана труда
							span 9
						li(data-filter='.fire') Пожарная безопасность
							span 6
						li(data-filter='.eco') Экология
							span 3
						li(data-filter='.study') Учебный центр
							span 1
				.is-col.is-col__lg-9.is-col__md-8.is-col__xs-12.grid
					.grid-sizer
					.gutter-sizer
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально 
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='eco')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="500")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="600")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="700")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item(class='fire')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="800")
							h4 Аудит охраны труда
							.prices 11 500 ₽
					.grid-item(class='study')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="300")
							h4 Разработка паспортов опасных отходов
							.prices Индивидуально
					.grid-item(class='defence')
						a.prices-item(href='#', data-aos="zoom-in", data-aos-delay="400")
							h4 Разработка документов по охране труда
							.prices От 4 500 ₽/мес.
					.grid-item.grid-item--question
						.prices-item.prices-item--question(data-aos="zoom-in", data-aos-delay="500")
							h4 Остались вопросы?
								span Задайте их нам!
							.button
								a.btn.btn--warning(href='#') Задать вопрос
								.btn--shadow.btn--white
