main
	section.projectsPage
		.container
			.title
				h1 Выполненные #[br] проекты
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.is-row
				.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
					ul.aside-nav#filters
						li.active(data-filter='*') Все
							span 28
						li(data-filter='.defence') Охрана труда
							span 9
						li(data-filter='.fire') Пожарная безопасность
							span 6
						li(data-filter='.eco') Экология
							span 3
						li(data-filter='.study') Учебный центр
							span 1
				.is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
					.grid
						.grid-sizer
						.gutter-sizer
						- for (var x = 1; x < 3; x++)
							.grid-item(class='defence')
								.projects-list_item
									.projects-list_img
										img(src='images/firm-1.jpg', alt='')
									.projects-list_title
										h5: a(href='#') Кейс компании #[br] «Рэдмонд»
									.projects-list_desc Между «Нестле» и «Англо-швейцарской компанией» разворачивается ожесточенная конкуренция, которая особенно обостряется.
									.projects-list_btn
										.button
											a.btn.btn--primary(href='#') Смотреть
											.btn--shadow.btn--black
							.grid-item(class='fire')
								.projects-list_item
									.projects-list_img
										img(src='images/firm-2.jpg', alt='')
									.projects-list_title
										h5: a(href='#') Кейс компании #[br] «Хеликс»
									.projects-list_desc Между «Нестле» и «Англо-швейцарской компанией» разворачивается ожесточенная конкуренция.
									.projects-list_btn
										.button
											a.btn.btn--primary(href='#') Смотреть
											.btn--shadow.btn--black
							.grid-item(class='eco')
								.projects-list_item
									.projects-list_img
										img(src='images/firm-1.jpg', alt='')
									.projects-list_title
										h5: a(href='#') Кейс компании #[br] «Рэдмонд»
									.projects-list_desc Между «Нестле» и «Англо-швейцарской компанией» разворачивается ожесточенная конкуренция, которая особенно обостряется.
									.projects-list_btn
										.button
											a.btn.btn--primary(href='#') Смотреть
											.btn--shadow.btn--black
							.grid-item(class='study')
								.projects-list_item
									.projects-list_img
										img(src='images/firm-2.jpg', alt='')
									.projects-list_title
										h5: a(href='#') Кейс компании #[br] «Хеликс»
									.projects-list_desc Между «Нестле» и «Англо-швейцарской компанией» разворачивается ожесточенная конкуренция.
									.projects-list_btn
										.button
											a.btn.btn--primary(href='#') Смотреть
											.btn--shadow.btn--black
							.grid-item.hidden-content(class='study')
								.projects-list_item
									.projects-list_img
										img(src='images/firm-2.jpg', alt='')
									.projects-list_title
										h5: a(href='#') Кейс компании #[br] «Рэдмонд»
									.projects-list_desc Между «Нестле» и «Англо-швейцарской компанией» разворачивается ожесточенная конкуренция.
									.projects-list_btn
										.button
											a.btn.btn--primary(href='#') Смотреть
											.btn--shadow.btn--black
						.grid-item.grid-item--question
							.prices-item.prices-item--question
								h4 Хотите также?
									span Оставьте заявку и мы с вами свяжемся!
								.button
									a.btn.btn--warning(href='#') Позвонить
									.btn--shadow.btn--white
					.projectsPage-link
						a.linkIcon.showmore--js(href="#")
							span.icon-arrow_repeat
							span Показать еще
