main
	section.project
		.container.relative
			.title
				h1 Кейс компании #[br] «Юлмарт»
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.swiper-project
				.swiper-wrapper
					.project-slide.swiper-slide: img(src='images/card-1.jpg', alt='')
					.project-slide.swiper-slide: img(src='images/card-2.jpg', alt='')
					.project-slide.swiper-slide: img(src='images/card-1.jpg', alt='')
					.project-slide.swiper-slide: img(src='images/card-2.jpg', alt='')
				.swiper-settings
					.swiper-btn.hidden__xs.hidden__sm
						.swiper-btn-prev-p.swiper-btn-prev: span.icon-angle-left
						.swiper-btn-next-p.swiper-btn-next: span.icon-angle-right
			h3 Цель
			p В рамках концепции Акоффа и Стэка, восприятие марки отталкивает эмпирический рекламный блок, признавая определенные рыночные тенденции. Рекламный клаттер, в рамках сегодняшних воззрений, допускает креативный целевой трафик.
				| #[br] Конвесия покупателя осмысленно изменяет побочный PR-эффект, расширяя долю рынка.
			h3 Результат
			p Между «Нестле» и «Англо-швейцарской компанией» разворачивается ожесточенная конкуренция, которая особенно обостряется после того, как обе компании начинают производить собственные версии оригинальных продуктов своих конкурентов — сгущенное молоко и детскую смесь.
			.is-col__lg-10
				ol.list--number
					li В рамках концепции Акоффа и Стэка, восприятие марки отталкивает эмпирический рекламный блок, признавая определенные рыночные тенденции.
					li Рекламный клаттер, в рамках сегодняшних воззрений, допускает креативный целевой трафик.
					li Конвесия покупателя осмысленно изменяет побочный PR-эффект, расширяя долю рынка. Рекламная площадка, как следует из вышесказанного, неоднозначна.
			.project-form
				.is-row.between__xs
					.is-col.is-col__lg-4.is-col__xs-12
						h3 Хотите также?
							span Оставьте заявку и мы свяжемся с вами
					.is-col.is-col__xl-6.is-col__lg-8.is-col__xs-12
						form.is-row.between__xs(action='', method='POST')
							.is-col.is-col__md-6.is-col__xs-12.form__group
								+fieldInput('text', 'name', 'name', '', 'Ваше имя', false, false)
							.is-col.is-col__md-6.is-col__xs-12.form__group
								+fieldInput('text', 'phone', 'phone', '', 'Ваш телефон', false, false)
							.is-col.is-col__md-6.is-col__xs-12.form__group
								.checkbox
									input(type="checkbox", id='agr', checked)
									label(for='agr')
									.label Даю согласие на #[a(href='#') обработку персональных данных]
							.is-col.form__group
								button.btn.btn--warning(type='submit') Отправить
			include ../components/_projects
	include ../components/_reviews
