main
	section.reviewsPage
		.container.relative
			.title
				h1 Отзывы
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.is-row.between__xs
				- for (var x = 1; x < 5; x++)
					.is-col.reviewsPage-item
						.is-row
							.is-col.is-col__lg-5.is-col__xs-12
								.tag.tag--primary Нефтепереработка
								img(src='images/sert-1.jpg', alt='')
							.is-col.is-col__lg-7.is-col__xs-12
								h5.text--primary ООО «Лукойл»
								h5 Сидоров Константин Константинопольский
								p Генеральный директор
								a(href='#') Смотреть кейс
					.is-col.hidden-content.reviewsPage-item
						.is-row
							.is-col.is-col__lg-5
								.tag.tag--primary Нефтепереработка
								img(src='images/sert-1.jpg', alt='')
							.is-col.is-col__lg-7
								h5.text--primary ООО «Лукойл»
								h5 Сидоров Константин Константинопольский
								p Генеральный директор
								a(href='#') Смотреть кейс
			.reviewsPage-link
				a.linkIcon.showmore--js(href="#")
					span.icon-arrow_repeat
					span Показать еще
