main
	section.services
		.container.relative
			.title
				h1 Наши услуги
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.is-row
				.is-col.is-col__md-6.is-col__xs-12
					.ratio-8_7
						.services-item.services-item--success
							span.icon-icon-1
							.services-item_desc
								h4 Экология
								p Металлоинвест производит железорудное сырье для выплавки чугуна, металлизованное сырье и товарный
								.flex-auto-top
									a.btn.btn--info(href='#') Подробнее
				.is-col.is-col__md-6.is-col__xs-12
					.ratio-8_7
						.services-item.services-item--warning
							span.icon-icon-3
							.services-item_desc
								h4 Учебный центр
								p Металлоинвест производит железорудное сырье для выплавки чугуна, металлизованное сырье и товарный
								.flex-auto-top
									a.btn.btn--info(href='#') Подробнее
				.is-col.is-col__md-6.is-col__xs-12
					.ratio-8_7
						.services-item.services-item--danger
							span.icon-icon-4
							.services-item_desc
								h4 Пожарная #[br] безопасность
								p Металлоинвест производит железорудное сырье для выплавки чугуна, металлизованное сырье и товарный
									.flex-auto-top
										a.btn.btn--info(href='#') Подробнее
				.is-col.is-col__md-6.is-col__xs-12
					.ratio-8_7
						.services-item.services-item--primary
							span.icon-icon-2
							.services-item_desc
								h4 Охрана труда
								p Металлоинвест производит железорудное сырье для выплавки чугуна, металлизованное сырье и товарный
									.flex-auto-top
										a.btn.btn--info(href='#') Подробнее
			.project-form
				.is-row.between__xs
					.is-col.is-col__lg-4.is-col__xs-12
						h3 Нужна помощь в подборе услуги?
							span Оставьте заявку и мы свяжемся с вами
					.is-col.is-col__xl-6.is-col__lg-8.is-col__xs-12
						form.is-row.between__xs(action='', method='POST')
							.is-col.is-col__md-6.is-col__xs-12.form__group
								+fieldInput('text', 'name', 'name', '', 'Ваше имя', false, false)
							.is-col.is-col__md-6.is-col__xs-12.form__group
								+fieldInput('text', 'phone', 'phone', '', 'Ваш телефон', false, false)
							.is-col.is-col__md-6.is-col__xs-12.form__group
								.checkbox
									input(type="checkbox", id='agr', checked)
									label(for='agr')
									.label Даю согласие на #[a(href='#') обработку персональных данных]
							.is-col.form__group
								button.btn.btn--warning(type='submit') Отправить
