main
	section.service-full.h-container
		.container
			.hidden__xs.hidden__sm
				include ../components/_breadcrumbs
			.service-full_info.is-row.between__xs
				.is-col.is-col__xl-5.is-col__md-6.is-col__xs-12(data-aos="fade-right", data-aos-delay="300")
					h1 Аутсорсинг по охране труда
					p При выполнении этой ответственной задачи необходимо глубокое знание норм законодательства и строгое следование им.
						| Также не обойтись без практического опыта в организации на предприятиях подобной работы.
				.is-col.is-col__xl-5.is-col__md-6.is-col__xs-12(data-aos="fade-left", data-aos-delay="500")
					.service-full_price
						.price от 2 500 ₽
						p от 7-ми рабочих дней
						a.btn.btn--danger.popup-modal(href='#call')
							span.icon-call
							span Заказать услугу
	section.service-info
		.container
			.is-col__xl-9.is-col__lg-10.service-desc
				div(data-aos="fade-up")
					h3 Трендовые концепции
					.txt-overflow
						p Государство заинтересовано, чтобы наемный персонал в любом бизнесе трудился в безопасных условиях. ООО «ОхраПро» - организация, оказывающая услуги охраны труда на предприятии, возьмет на себя ответственность за безопасность Вашего персонала.
							br
							| Современные компании выполняют ежедневно тысячи задач. Некоторые из них эффективнее и выгоднее передавать на аутсорсинг. Чаще всего подобная форма сотрудничества используется при подборе кадров, ведении бухгалтерии, правовом сопровождении. Оказание услуг в этой области считается востребованным и актуальным.
						p Но кроме указанных направлений, есть и ряд других, которые тоже целесообразно поручать профессионалам. Среди них следует отметить охрану труда, которая является важной и неотъемлемой частью деятельности всех успешных предприятий.
						p При выполнении этой ответственной задачи необходимо глубокое знание норм законодательства и строгое следование им. Также не обойтись без практического опыта в организации на предприятиях подобной работы. Наконец, следует учитывать и будущие затраты (сил, времени, финансов) для достижения и поддержания требуемого уровня деятельности на соответствующем участке.
					.link-overflow
						a(href='#') Показать полностью
				div(data-aos="fade-up")
					h3 Проведение работ
					.txt-overflow
						p Но кроме указанных направлений, есть и ряд других, которые тоже целесообразно поручать профессионалам. Среди них следует отметить охрану труда, которая является важной и неотъемлемой частью деятельности всех успешных предприятий.
						p При выполнении этой ответственной задачи необходимо глубокое знание норм законодательства и строгое следование им. Также не обойтись без практического опыта в организации на предприятиях подобной работы. Наконец, следует учитывать и будущие затраты (сил, времени, финансов) для достижения и поддержания требуемого уровня деятельности на соответствующем участке.
					.link-overflow
						a(href='#') Показать полностью
			.service-list
				h2 Как мы работаем?
				.is-row
					- for (var x = 1; x < 3; x++)
						.is-col.is-col__xl-4.is-col__md-6.is-col__xs-12.service-list_item(data-aos="fade-up", data-aos-delay="300")
							h4 Оставьте заявку на нашем сайте
							p В рамках концепции Акоффа и Стэка, восприятие марки отталкивает эмпирический рекламный блок, признавая определенные рыночные тенденции.
							p Рекламный клаттер, в рамках сегодняшних воззрений, допускает креативный целевой трафик.
						.is-col.is-col__xl-4.is-col__md-6.is-col__xs-12.service-list_item(data-aos="fade-up", data-aos-delay="500")
							h4 Подпишите договор и произведите оплату услуги
							p В рамках концепции Акоффа и Стэка, восприятие марки отталкивает эмпирический рекламный блок, признавая определенные рыночные тенденции.
						.is-col.is-col__xl-4.is-col__md-6.is-col__xs-12.service-list_item(data-aos="fade-up", data-aos-delay="700")
							h4 Начните заниматься в удобное для вас время
							p Рекламный клаттер, в рамках сегодняшних воззрений, допускает креативный целевой трафик.
							p Конвесия покупателя осмысленно изменяет побочный PR-эффект, расширяя долю рынка. Рекламная площадка, как следует из вышесказанного, неоднозначна.
			.service-people
				h2 Ответственные лица
				.is-row
					.is-col.is-col__md-6.is-col__xs-12.service-people_item(data-aos="fade-up", data-aos-delay="300")
						.service-people_round.service-people_round-primary
							.picon.icon-man
							span.icon-icon-2
						.service-people_desc
							h4 Иванов #[br] Петр Геннадьевич
							p.text__lg Охрана труда
					.is-col.is-col__md-6.is-col__xs-12.service-people_item(data-aos="fade-up", data-aos-delay="500")
						.service-people_round.service-people_round-success
							.picon.icon-man
							span.icon-icon-1
						.service-people_desc
							h4 Иванов #[br] Петр Геннадьевич
							p.text__lg Охрана труда
					.is-col.is-col__md-6.is-col__xs-12.service-people_item(data-aos="fade-up", data-aos-delay="700")
						.service-people_round.service-people_round-danger
							.picon.icon-man
							span.icon-icon-4
						.service-people_desc
							h4 Иванов #[br] Петр Геннадьевич
							p.text__lg Охрана труда
					.is-col.is-col__md-6.is-col__xs-12.service-people_item(data-aos="fade-up", data-aos-delay="900")
						.service-people_round.service-people_round-warning
							.picon.icon-man
							span.icon-icon-3
						.service-people_desc
							h4 Иванов #[br] Петр Геннадьевич
							p.text__lg Охрана труда
			.service-slider
				h2 Галерея
				.swiper-project
					.swiper-wrapper(data-aos="fade-left")
						- for (var x = 1; x < 5; x++)
							a.service-slide.swiper-slide.popup-youtube(href="http://www.youtube.com/watch?v=0O2aH4XLbto")
								.relative
									.video
										img(src='images/video-icon.svg', alt='')
									img(src='images/gallery.jpg', alt='')
					.swiper-settings
						.swiper-btn.hidden__xs.hidden__sm
							.swiper-btn-prev-p.swiper-btn-prev: span.icon-angle-left
							.swiper-btn-next-p.swiper-btn-next: span.icon-angle-right
			include ../components/_services
			include ../components/_projects
		include ../components/_reviews
