main
	section.vacanciesPage
		.container
			.title
				h1= title
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.is-row.between__xs
				.is-col.is-col__lg-7.is-col__xs-12
					- for (var x = 1; x < 5; x++)
						.vacanciesPage-item
							h3 Специалист по #[span.text--primary охране труда] в группе разработки документации и поддержки партнёров
							.hide.is-col__lg-8
								h5 Обязанности:
								p Он занимается подготовкой документов по охране труда для различных организаций, консультирует партнёров по вопросам охраны труда.
								h5 Требования:
								ul.list--bullet
									li Разработка дизайна веб сайтов и приложений
									li Работа над новыми и существующими веб сайтами
									li Создание и доработка интерфейсов, проектирование UX решений для сайтов и приложений
									li Тесная работа с менеджерами и веб разработчиками
									li Проектирование и создание модулей для Wordpress платформы
									li Мониторинг эффективности разработанных UX/UI решений
									li Создание прототипов веб сайтов
								h5 Условия:
								ul.list--bullet
									li Разработка дизайна веб сайтов и приложений
									li Работа над новыми и существующими веб сайтами
									li Создание и доработка интерфейсов, проектирование UX решений для сайтов и приложений
									li Тесная работа с менеджерами и веб разработчиками
								ul.list--inline
									li: a.btn.btn--outlined.hidenext--js(href='#') Свернуть
									li
										.button
											a.btn.btn--default(href='#') Откликнуться
											.btn--shadow.btn--black
							a.btn.btn--outlined.shownext--js(href='#') Подробнее
				.is-col.is-col__xl-4.is-col__lg-5.is-col__xs-12
					.form-question
						h3 Остались вопросы по вакансиям?
							span Задайте их нам!
						.name
							img(src='images/ava.png', alt='')
							h4 Константин #[br] Константинопольский
							p.text__lg +7 965 557 24 25
							p.text__lg work@oxrapro.ru
