main
	section.videoPage
		.container
			.title
				h1 Видеогалерея
				.hidden__sm.hidden__xs
					include ../components/_breadcrumbs
			.is-row
				.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
					ul.aside-nav#filters
						li.active(data-filter='*') Все
							span 28
						li(data-filter='.defence') Видеоинструкции
							span 9
						li(data-filter='.fire') Общественная деятельность
							span 6
						li(data-filter='.eco') Выезды
							span 3
						li(data-filter='.study') Обучение
							span 1
				.is-col.is-col__lg-9.is-col__md-8.is-col__xs-12.grid
					.grid-sizer
					.gutter-sizer
					.grid-item.grid-item--full(class='defence')
						.videoYoutube
							a.video__link(href='http://www.youtube.com/watch?v=VYTpneMvYNA')
								img.video__media(src='https://i.ytimg.com/vi/VYTpneMvYNA/maxresdefault.jpg', alt='')
							.video__button
								.videoIcon
									img(src='images/video-icon.svg', alt='')
									.hover: img(src='images/video-icon-h.svg', alt='')
								.hidden__xs.hidden__sm
									h4 Видеоотчет с нового 2017 года
									p Мы клиентоориентированы. Поэтому, учитываем потребности заказчика, предлагаем несколько решений проблемы и всегда ищем взаимовыгодный компромисс
						.visible__sm.visible__xs
							h4 Видеоотчет с нового 2017 года
							p Мы клиентоориентированы. Поэтому, учитываем потребности заказчика, предлагаем несколько решений проблемы и всегда ищем взаимовыгодный компромисс
					.grid-item.grid-item--full(class='fire')
						.videoYoutube
							a.video__link(href='http://www.youtube.com/watch?v=VYTpneMvYNA')
								img.video__media(src='https://i.ytimg.com/vi/VYTpneMvYNA/maxresdefault.jpg', alt='')
							.video__button
								.videoIcon
									img(src='images/video-icon.svg', alt='')
									.hover: img(src='images/video-icon-h.svg', alt='')
								.hidden__xs.hidden__sm
									h4 Видеоотчет с нового 2017 года
									p Мы клиентоориентированы. Поэтому, учитываем потребности заказчика, предлагаем несколько решений проблемы и всегда ищем взаимовыгодный компромисс
						.visible__sm.visible__xs
							h4 Видеоотчет с нового 2017 года
							p Мы клиентоориентированы. Поэтому, учитываем потребности заказчика, предлагаем несколько решений проблемы и всегда ищем взаимовыгодный компромисс
					.grid-item.grid-item--full(class='eco')
						.videoYoutube
							a.video__link(href='http://www.youtube.com/watch?v=VYTpneMvYNA')
								img.video__media(src='https://i.ytimg.com/vi/VYTpneMvYNA/maxresdefault.jpg', alt='')
							.video__button
								.videoIcon
									img(src='images/video-icon.svg', alt='')
									.hover: img(src='images/video-icon-h.svg', alt='')
								.hidden__xs.hidden__sm
									h4 Видеоотчет с нового 2017 года
									p Мы клиентоориентированы. Поэтому, учитываем потребности заказчика, предлагаем несколько решений проблемы и всегда ищем взаимовыгодный компромисс
						.visible__sm.visible__xs
							h4 Видеоотчет с нового 2017 года
							p Мы клиентоориентированы. Поэтому, учитываем потребности заказчика, предлагаем несколько решений проблемы и всегда ищем взаимовыгодный компромисс
					.grid-item.grid-item--full(class='study')
						.videoYoutube
							a.video__link(href='http://www.youtube.com/watch?v=VYTpneMvYNA')
								img.video__media(src='https://i.ytimg.com/vi/VYTpneMvYNA/maxresdefault.jpg', alt='')
							.video__button
								.videoIcon
									img(src='images/video-icon.svg', alt='')
									.hover: img(src='images/video-icon-h.svg', alt='')
								.hidden__xs.hidden__sm
									h4 Видеоотчет с нового 2017 года
									p Мы клиентоориентированы. Поэтому, учитываем потребности заказчика, предлагаем несколько решений проблемы и всегда ищем взаимовыгодный компромисс
						.visible__sm.visible__xs
							h4 Видеоотчет с нового 2017 года
							p Мы клиентоориентированы. Поэтому, учитываем потребности заказчика, предлагаем несколько решений проблемы и всегда ищем взаимовыгодный компромисс
					.grid-item.grid-item--full.hidden-content(class='study')
						.videoYoutube
							a.video__link(href='http://www.youtube.com/watch?v=VYTpneMvYNA')
								img.video__media(src='https://i.ytimg.com/vi/VYTpneMvYNA/maxresdefault.jpg', alt='')
							.video__button
								.videoIcon
									img(src='images/video-icon.svg', alt='')
									.hover: img(src='images/video-icon-h.svg', alt='')
								.hidden__xs.hidden__sm
									h4 Видеоотчет с нового 2017 года
									p Мы клиентоориентированы. Поэтому, учитываем потребности заказчика, предлагаем несколько решений проблемы и всегда ищем взаимовыгодный компромисс
						.visible__sm.visible__xs
							h4 Видеоотчет с нового 2017 года
							p Мы клиентоориентированы. Поэтому, учитываем потребности заказчика, предлагаем несколько решений проблемы и всегда ищем взаимовыгодный компромисс
			.videoPage-link
				a.linkIcon.showmore--js(href="#")
					span.icon-arrow_repeat
					span Показать еще
