extends layouts/_default

block title
    title ОхраПро
    - var title = 'О нас'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-fx

block siteMain
    include pages/_about

block siteFooter
    include partials/_footer
