extends layouts/_default

block title
    title ОхраПро
    - var title = 'Блог'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_blog

block siteFooter
    include partials/_footer
