extends layouts/_default

block title
    title ОхраПро
    - var title = 'Клиенты'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_clients

block siteFooter
    include partials/_footer
