extends layouts/_default

block title
    title ОхраПро
    - var title = 'Документы'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_documents

block siteFooter
    include partials/_footer
