extends layouts/_default

block title
    title ОхраПро
    - var title = 'Сотрудники'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_employees

block siteFooter
    include partials/_footer
