extends layouts/_default

block title
    title ОхраПро
    - var title = 'FAQ'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_faq

block siteFooter
    include partials/_footer
