extends layouts/_default

block title
    title ОхраПро
    - var title = 'Лицензии'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_license

block siteFooter
    include partials/_footer
