extends layouts/_default

block title
    title ОхраПро
    - var title = 'Сотрудники'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-fx

block siteMain
    include pages/_page404

block siteFooter
    include partials/_footer
