extends layouts/_default

block title
    title ОхраПро
    - var title = 'Цены'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_prices

block siteFooter
    include partials/_footer
