extends layouts/_default

block title
    title ОхраПро
    - var title = 'Проекты'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_project

block siteFooter
    include partials/_footer
