extends layouts/_default

block title
    title ОхраПро
    - var title = 'Отзывы'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_reviews

block siteFooter
    include partials/_footer
