extends layouts/_default

block title
    title ОхраПро
    - var title = 'Охрана труда'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-fx

block siteMain
    include pages/_service

block siteFooter
    include partials/_footer
