extends layouts/_default

block title
    title ОхраПро
    - var title = 'Услуги'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_services

block siteFooter
    include partials/_footer
