extends layouts/_default

block title
    title ОхраПро
    - var title = 'Новости'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-fx

block siteMain
    include pages/_typical

block siteFooter
    include partials/_footer
