extends layouts/_default

block title
    title ОхраПро
    - var title = 'Видеогалерея'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_video

block siteFooter
    include partials/_footer
